extends emailLayout

block content
  h2 Welcome to Cheshire Roast!
  p Thanks for registering. If this was a real website you'd now be able to start ordering delicious coffee, 
    | but this is just a learning project so this is just a 'hello and thanks for checking out my project!' :)

  a(href="http://liamwhittaker.co.uk") Check out my portfolio here