block footer

  section.section-newsletter

    .container
      .newsletter__cta
        h2.newsletter__heading Join our newsletter
        h3.newsletter__subheading And get 50% off your first bag of coffee!

      form(action="" class="newsletter__form")
        label(for="name" class="newsletter__label")
        input(type="email", name="name" class="newsletter__name" placeholder="Please enter your name")
        
        label(for="email" class="newsletter__label")
        input(type="email", name="email" class="newsletter__email" placeholder="And your email address!")

        button(type="submit" class="btn btn__submit") Sign me up!

  footer.section-footer

    .container

      a(href="#")
        i.fab.fa-instagram.fa-5x
      a(href="#")
        i.fab.fa-facebook.fa-5x
      a(href="#")
        i.fab.fa-twitter.fa-5x