extends layout

block content

  section.section-hero

    h1.heading-primary Welcome to Cheshire Roast

    h2.heading-primary--sub A range of freshly roasted, ethically sourced coffee delivered direct to your door.

    a(href="#" class="btn") Get started!

  section.section-best-sellers

    h2.heading-section-title Best Sellers

    h3.heading-section--subtitle Take a look at some of our best selling coffees!

    .product-grid

      .product
        .inner
          .product__photo
          .product__info
            h3.product__title Monsoon Malabar
            h4.product__description--short Rich, smooth and sweet, with a spicy kick
            .product__reviews 
              span.product__reviews__stars &#9733; &#9733; &#9733; &#9733; &#9733;
              span.product__reviews__number (17 reviews)
            h3.product__price £4.20
            a.btn.btn__storecard--info(href="#") Learn More
            a.btn.btn__storecard--buy(href="#") Buy Now

      .product
        .inner
          .product__photo
          .product__info
            h3.product__title Ethiopian Yirgacheffe
            h4.product__description--short Fruity and nutty, with a hint of red wine
            .product__reviews 
              span.product__reviews__stars &#9733; &#9733; &#9733; &#9733; &#9733;
              span.product__reviews__number (17 reviews)
            h3.product__price £5.65
            a.btn.btn__storecard--info(href="#") Learn More
            a.btn.btn__storecard--buy(href="#") Buy Now
            

      .product
        .inner
          .product__photo
          .product__info
            h3.product__title Jamaican Blue Mountain
            h4.product__description--short The most sought-after coffee in the world
            .product__reviews 
              span.product__reviews__stars &#9733; &#9733; &#9733; &#9733; &#9733;
              span.product__reviews__number (17 reviews)
            h3.product__price £12.70
            a.btn.btn__storecard--info(href="#") Learn More
            a.btn.btn__storecard--buy(href="#") Buy Now

      .product
        .inner
          .product__photo
          .product__info
            h3.product__title Signature Espresso Blend
            h4.product__description--short Our signature blend, chocolate and treacle
            .product__reviews 
              span.product__reviews__stars &#9733; &#9733; &#9733; &#9733; &#9733;
              span.product__reviews__number (17 reviews)
            h3.product__price £5.90
            a.btn.btn__storecard--info(href="#") Learn More
            a.btn.btn__storecard--buy(href="#") Buy Now

      .product
        .inner
          .product__photo
          .product__info
            h3.product__title Breakfast Blend
            h4.product__description--short Dark chocolate and nutty
            .product__reviews 
              span.product__reviews__stars &#9733; &#9733; &#9733; &#9733; &#9733;
              span.product__reviews__number (17 reviews)
            h3.product__price £3.50
            a.btn.btn__storecard--info(href="#") Learn More
            a.btn.btn__storecard--buy(href="#") Buy Now

      .product
        .inner
          .product__photo
          .product__info
            h3.product__title Jamaican Blue Mountain
            h4.product__description--short The most sought-after coffee in the world
            .product__reviews 
              span.product__reviews__stars &#9733; &#9733; &#9733; &#9733; &#9733;
              span.product__reviews__number (17 reviews)
            h3.product__price £12.70
            a.btn.btn__storecard--info(href="#") Learn More
            a.btn.btn__storecard--buy(href="#") Buy Now
