extends layout

block content

  h1.heading-section-title.u-mart-md Log In

  .container
    form.form(action="/login", method="POST")
      label.form__label(for="email") Email Address
      input.form__input(type="email" name="email")

      label.form__label(for="password") Password
      input.form__input(type="password" name="password")

      button.btn.btn__submit.u-mart-sm(type="submit") Log in

  .container
    p.paragraph.paragraph--inverted.u-mart-sm Don't have an account yet?  
      a(href="/register" class="link") Register here!