extends layout

block content

  h1.heading-section-title.u-marbo-md.u-mart-md Order Complete!

  .container
    p.paragraph.paragraph--inverted Congratulations, your order is complete and will be roasted and posted directly to your door!

  .container-col
    .basket__shoplink
      a(href="/account" class="btn btn--inverted u-marbo-lg u-mart-lg") Track your open orders