.sidebar__top
  .sidebar__logobox
    img(src="/img/logo.png", alt="Logo" class="sidebar__logo")

.sidebar__mid
  ul.sidebar__list
    li.sidebar__list-item
      a(href="#" class="sidebar__link") Link 1
    li.sidebar__list-item
      a(href="#" class="sidebar__link") Link 2
    li.sidebar__list-item
      a(href="#" class="sidebar__link") Link 3
    li.sidebar__list-item
      a(href="#" class="sidebar__link") Link 4
    li.sidebar__list-item
      a(href="#" class="sidebar__link") Link 5

  .sidebar__cartbox
    img(src="/img/cart.png", alt="Shopping cart" class="sidebar__cart")

.sidebar__bottom
  .sidebar__info
    p
      span.strong #{h.siteName}
    p Knutsford, Cheshire 
    p info@cheshireroast.co.uk

  .madeby
    p Site created by
    p
      a(href="http://liamwhittaker.co.uk") Liam Whittaker
