.sidebar__top
  .sidebar__logobox
    img(src="/images/logo-no-bg.png", alt="Logo" class="sidebar__logo")

nav.sidebar__mid
  ul.sidebar__list
    li.sidebar__list-item
      a(href="#" class="sidebar__link") Menu
    li.sidebar__list-item
      a(href="#" class="sidebar__link") Subscribe
    li.sidebar__list-item
      a(href="#" class="sidebar__link") About Us
    li.sidebar__list-item
      a(href="#" class="sidebar__link") Help
    li.sidebar__list-item
      a(href="#" class="sidebar__link sidebar__link--inverted") Log In

  .sidebar__cartbox
    i.fas.fa-shopping-cart.fa-2x
    //- img(src="/img/cart.png", alt="Shopping cart" class="sidebar__cart")

.sidebar__bottom
  .sidebar__info
    p
      span.sidebar__brand #{h.siteName}
    p.paragraph Knutsford, Cheshire 
    p.paragraph info@cheshireroast.co.uk

  .madeby
    p.paragraph Site created by
    p
      a.liam(href="http://liamwhittaker.co.uk") Liam Whittaker
