.sidebar__top
  .sidebar__logobox
    a(href="/")
      img(src="/images/logo-no-bg.png", alt="Logo" class="sidebar__logo")

nav.sidebar__mid
  ul.sidebar__list
    li.sidebar__list-item
      a(href="/menu" class="sidebar__link") Menu
    li.sidebar__list-item
      a(href="#" class="sidebar__link") Subscribe
    li.sidebar__list-item
      a(href="#" class="sidebar__link") About Us
    li.sidebar__list-item
      a(href="#" class="sidebar__link") Help
    if !user
      li.sidebar__list-item
        a(href="/login" class="sidebar__link sidebar__link--inverted") Log In 
    else 
      if user.accessLevel === 20
        li.sidebar__list-item
          a(href="/admin" class="sidebar__link sidebar__link--inverted") Admin Panel
      li.sidebar__list-item
        a(href="#" class="sidebar__link sidebar__link--inverted") My Account
      li.sidebar__list-item
        a(href="/logout" class="sidebar__link sidebar__link--inverted") Log Out
      li.sidebar__list-item
        a(href="/basket" class="sidebar__link sidebar__link--inverted")      
          i.fas.fa-shopping-basket.fa-2x

.sidebar__bottom
  .sidebar__info
    p
      span.sidebar__brand #{h.siteName}
    p.sidebar-paragraph Knutsford, Cheshire 
    p.sidebar-paragraph info@cheshireroast.co.uk

  .madeby
    p.sidebar-paragraph Site created by
    p
      a.liam(href="http://liamwhittaker.co.uk") Liam Whittaker
