extends layout

block content

  h1.heading-section-title.u-mart-md.u-marbo-md Subscribe!

  .container

    p.paragraph.paragraph--inverted.paragraph--large.u-marbo-md Subscribe and you'll never run out of delicious coffee! Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur assumenda, dignissimos beatae, distinctio soluta adipisci omnis voluptates voluptate neque corrupti vel optio? Cumque iure assumenda consectetur! Neque minima excepturi sunt.

    form.form(action="/subscription" method="post" id="buyform")
      
      fieldset.form__fieldset
        legend.form__legend.u-mart-sm 1. Choose Type
        p.paragraph.paragraph--inverted.u-marbo-sm Let us know which types of coffee you'd like us to send

        p.form__answer
          input(type="radio" name="type" id="blend" class="form__radio--hidden" value="Blend" )
          label(for="blend" class="form__checkbox-label")
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" class="svg--grind")
              title Blend Icon
              style(type='text/css').
                .st0{fill:none;stroke:#FF0000;stroke-miterlimit:10;}
                .st1{stroke:url(#SVGID_1_);stroke-miterlimit:10;}
              g
                path(d='M224,120h-8.8c0.2-2.8,0.4-5.4,0.5-7.6c0.3-4.6-3.4-8.4-8-8.4H48.3c-4.6,0-8.2,3.9-8,8.4C42,142.1,53.1,240,128,240\
                c42.4,0,64.4-31.4,75.7-64H216c0,0,0,0,0,0c0.4,0,12.1-0.1,16-8c3.9-8.1,8-24.1,8-32S231.8,120,224,120z M167.9,218.1\
                c-11.1,9.2-24.5,13.9-39.9,13.9s-28.8-4.7-39.9-13.9c-9.5-7.9-17.6-19.4-24-34c-11.7-26.6-14.9-56.6-15.7-72.1h159.4l0,0\
                c-0.9,15.5-4.1,45.6-15.7,72.2C185.6,198.7,177.5,210.2,167.9,218.1z M224.8,164.5c-1.3,2.6-6.6,3.5-8.8,3.5c0,0,0,0,0,0h-6.9\
                l9.3-40h5.6c3.4,0,8,4.6,8,8C232,142.6,228.2,157.5,224.8,164.5z')
                path(d='M125.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C124.9,182.9,125,183.5,125.5,183.8z')
                path(d='M130.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C129.9,182.9,130,183.5,130.5,183.8z')
                path(d='M115.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C114.9,182.9,115,183.5,115.5,183.8z')
                path(d='M120.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C119.9,182.9,120,183.5,120.5,183.8z')
                path(d='M105.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C104.9,182.9,105,183.5,105.5,183.8z')
                path(d='M110.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C109.9,182.9,110,183.5,110.5,183.8z')
                path(d='M95.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C94.9,182.9,95,183.5,95.5,183.8z')
                path(d='M100.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C99.9,182.9,100,183.5,100.5,183.8z')
                path(d='M90.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C89.9,182.9,90,183.5,90.5,183.8z')
                path(d='M81.6,183.8c0.1-0.1,0.2-0.2,0.3-0.3l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3l-13.6,21.3\
                C80.9,182.5,81.2,183.2,81.6,183.8z')
                path(d='M85.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C84.9,182.9,85,183.5,85.5,183.8z')
                path(d='M78.7,177.7c0.3,0.6,0.5,1.1,0.8,1.7l11.4-17.9c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3l-10.7,16.8\
                C78.5,177.4,78.6,177.6,78.7,177.7z')
                path(d='M75.6,169.9l5.3-8.3c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3l-4.4,7C75,168.3,75.3,169.1,75.6,169.9z')
                path(d='M73.8,164.8l2-3.2c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3l-1.1,1.8C73.3,163.1,73.5,163.9,73.8,164.8z')
                path(d='M77.4,174.7l8.4-13.2c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3l-7.6,12C76.8,173.2,77.1,174,77.4,174.7z')
                path(d='M135.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C134.9,182.9,135,183.5,135.5,183.8z')
                path(d='M140.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C139.9,182.9,140,183.5,140.5,183.8z')
                path(d='M145.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C144.9,182.9,145,183.5,145.5,183.8z')
                path(d='M150.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C149.9,182.9,150,183.5,150.5,183.8z')
                path(d='M155.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C154.9,182.9,155,183.5,155.5,183.8z')
                path(d='M160.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C159.9,182.9,160,183.5,160.5,183.8z')
                path(d='M165.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C164.9,182.9,165,183.5,165.5,183.8z')
                path(d='M170.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C169.9,182.9,170,183.5,170.5,183.8z')
                path(d='M194.7,120H61.3c-2.4,0-4.2,2.1-4,4.4c0.9,7.8,2.3,17.4,4.7,27.6h0c0.1,0.6,0.3,1.1,0.4,1.7c0,0.1,0,0.2,0.1,0.3h0\
                c2.2,8.9,5,18.2,8.9,26.9c1.7,4,3.6,7.7,5.6,11.1c12.4,21.5,29.2,32,51.1,32s38.7-10.5,51.1-32c2-3.4,3.8-7.1,5.6-11.1\
                c3.8-8.8,6.7-18,8.9-26.9h0c0-0.1,0-0.2,0.1-0.3c0.1-0.6,0.3-1.1,0.4-1.7h0c2.4-10.2,3.8-19.8,4.7-27.6\
                C198.9,122.1,197,120,194.7,120z M182.8,180.1c-1.5,3.5-3.2,6.8-4.9,9.9H78.1c-1.7-3.1-3.4-6.4-4.9-9.9c-3.4-7.7-6.3-16.5-8.7-26.1\
                h126.9C189.1,163.6,186.2,172.4,182.8,180.1z M196.7,124.2c-1.1,9.6-2.7,19-4.8,27.8H64.1c-2.1-8.8-3.6-18.1-4.7-27.8\
                c-0.1-0.6,0.1-1.1,0.5-1.5c0.4-0.4,0.9-0.7,1.5-0.7h133.5c0.6,0,1,0.2,1.4,0.7C196.6,123.1,196.8,123.6,196.7,124.2z')
                path(d='M80,133c2.2,0,4-1.8,4-4s-1.8-4-4-4c-2.2,0-4,1.8-4,4S77.8,133,80,133z M80,127c1.1,0,2,0.9,2,2s-0.9,2-2,2\
                c-1.1,0-2-0.9-2-2S78.9,127,80,127z')
                circle(cx='176', cy='136', r='2')
                circle(cx='144', cy='136', r='2')
                circle(cx='160', cy='136', r='2')
                circle(cx='112', cy='136', r='2')
                circle(cx='128', cy='136', r='2')
                circle(cx='80', cy='136', r='2')
                circle(cx='96', cy='136', r='2')
                path(d='M96,133c2.2,0,4-1.8,4-4s-1.8-4-4-4c-2.2,0-4,1.8-4,4S93.8,133,96,133z M96,127c1.1,0,2,0.9,2,2s-0.9,2-2,2\
                c-1.1,0-2-0.9-2-2S94.9,127,96,127z')
                path(d='M112,133c2.2,0,4-1.8,4-4s-1.8-4-4-4c-2.2,0-4,1.8-4,4S109.8,133,112,133z M112,127c1.1,0,2,0.9,2,2s-0.9,2-2,2\
                c-1.1,0-2-0.9-2-2S110.9,127,112,127z')
                path(d='M128,133c2.2,0,4-1.8,4-4s-1.8-4-4-4c-2.2,0-4,1.8-4,4S125.8,133,128,133z M128,127c1.1,0,2,0.9,2,2s-0.9,2-2,2\
                c-1.1,0-2-0.9-2-2S126.9,127,128,127z')
                path(d='M144,133c2.2,0,4-1.8,4-4s-1.8-4-4-4c-2.2,0-4,1.8-4,4S141.8,133,144,133z M144,127c1.1,0,2,0.9,2,2s-0.9,2-2,2\
                c-1.1,0-2-0.9-2-2S142.9,127,144,127z')
                path(d='M160,133c2.2,0,4-1.8,4-4s-1.8-4-4-4c-2.2,0-4,1.8-4,4S157.8,133,160,133z M160,127c1.1,0,2,0.9,2,2s-0.9,2-2,2\
                c-1.1,0-2-0.9-2-2S158.9,127,160,127z')
                path(d='M176,133c2.2,0,4-1.8,4-4s-1.8-4-4-4c-2.2,0-4,1.8-4,4S173.8,133,176,133z M176,127c1.1,0,2,0.9,2,2s-0.9,2-2,2\
                c-1.1,0-2-0.9-2-2S174.9,127,176,127z')
                path(d='M72,131c-2.2,0-4,1.8-4,4s1.8,4,4,4c2.2,0,4-1.8,4-4S74.2,131,72,131z M72,137c-1.1,0-2-0.9-2-2s0.9-2,2-2c1.1,0,2,0.9,2,2\
                S73.1,137,72,137z')
                path(d='M88,131c-2.2,0-4,1.8-4,4s1.8,4,4,4c2.2,0,4-1.8,4-4S90.2,131,88,131z M88,137c-1.1,0-2-0.9-2-2s0.9-2,2-2c1.1,0,2,0.9,2,2\
                S89.1,137,88,137z')
                path(d='M104,131c-2.2,0-4,1.8-4,4s1.8,4,4,4c2.2,0,4-1.8,4-4S106.2,131,104,131z M104,137c-1.1,0-2-0.9-2-2s0.9-2,2-2\
                c1.1,0,2,0.9,2,2S105.1,137,104,137z')
                path(d='M120,131c-2.2,0-4,1.8-4,4s1.8,4,4,4c2.2,0,4-1.8,4-4S122.2,131,120,131z M120,137c-1.1,0-2-0.9-2-2s0.9-2,2-2\
                c1.1,0,2,0.9,2,2S121.1,137,120,137z')
                path(d='M136,131c-2.2,0-4,1.8-4,4s1.8,4,4,4c2.2,0,4-1.8,4-4S138.2,131,136,131z M136,137c-1.1,0-2-0.9-2-2s0.9-2,2-2\
                c1.1,0,2,0.9,2,2S137.1,137,136,137z')
                path(d='M152,131c-2.2,0-4,1.8-4,4s1.8,4,4,4c2.2,0,4-1.8,4-4S154.2,131,152,131z M152,137c-1.1,0-2-0.9-2-2s0.9-2,2-2\
                c1.1,0,2,0.9,2,2S153.1,137,152,137z')
                path(d='M168,131c-2.2,0-4,1.8-4,4s1.8,4,4,4c2.2,0,4-1.8,4-4S170.2,131,168,131z M168,137c-1.1,0-2-0.9-2-2s0.9-2,2-2\
                c1.1,0,2,0.9,2,2S169.1,137,168,137z')
                path(d='M184,131c-2.2,0-4,1.8-4,4s1.8,4,4,4c2.2,0,4-1.8,4-4S186.2,131,184,131z M184,137c-1.1,0-2-0.9-2-2s0.9-2,2-2\
                c1.1,0,2,0.9,2,2S185.1,137,184,137z')
                path(d='M80,140c-2.2,0-4,1.8-4,4s1.8,4,4,4c2.2,0,4-1.8,4-4S82.2,140,80,140z M80,146c-1.1,0-2-0.9-2-2s0.9-2,2-2c1.1,0,2,0.9,2,2\
                S81.1,146,80,146z')
                circle(cx='72', cy='142', r='2')
                circle(cx='88', cy='142', r='2')
                circle(cx='104', cy='142', r='2')
                circle(cx='120', cy='142', r='2')
                circle(cx='136', cy='142', r='2')
                circle(cx='152', cy='142', r='2')
                circle(cx='168', cy='142', r='2')
                circle(cx='184', cy='142', r='2')
                circle(cx='72', cy='128', r='2')
                circle(cx='88', cy='128', r='2')
                circle(cx='104', cy='128', r='2')
                circle(cx='120', cy='128', r='2')
                circle(cx='136', cy='128', r='2')
                circle(cx='152', cy='128', r='2')
                circle(cx='168', cy='128', r='2')
                circle(cx='184', cy='128', r='2')
                path(d='M96,140c-2.2,0-4,1.8-4,4s1.8,4,4,4c2.2,0,4-1.8,4-4S98.2,140,96,140z M96,146c-1.1,0-2-0.9-2-2s0.9-2,2-2c1.1,0,2,0.9,2,2\
                S97.1,146,96,146z')
                path(d='M112,140c-2.2,0-4,1.8-4,4s1.8,4,4,4c2.2,0,4-1.8,4-4S114.2,140,112,140z M112,146c-1.1,0-2-0.9-2-2s0.9-2,2-2\
                c1.1,0,2,0.9,2,2S113.1,146,112,146z')
                path(d='M128,140c-2.2,0-4,1.8-4,4s1.8,4,4,4c2.2,0,4-1.8,4-4S130.2,140,128,140z M128,146c-1.1,0-2-0.9-2-2s0.9-2,2-2\
                c1.1,0,2,0.9,2,2S129.1,146,128,146z')
                path(d='M144,140c-2.2,0-4,1.8-4,4s1.8,4,4,4c2.2,0,4-1.8,4-4S146.2,140,144,140z M144,146c-1.1,0-2-0.9-2-2s0.9-2,2-2\
                c1.1,0,2,0.9,2,2S145.1,146,144,146z')
                path(d='M160,140c-2.2,0-4,1.8-4,4s1.8,4,4,4c2.2,0,4-1.8,4-4S162.2,140,160,140z M160,146c-1.1,0-2-0.9-2-2s0.9-2,2-2\
                c1.1,0,2,0.9,2,2S161.1,146,160,146z')
                path(d='M176,140c-2.2,0-4,1.8-4,4s1.8,4,4,4c2.2,0,4-1.8,4-4S178.2,140,176,140z M176,146c-1.1,0-2-0.9-2-2s0.9-2,2-2\
                c1.1,0,2,0.9,2,2S177.1,146,176,146z')
                path(d='M116,86c0,0.2,0,0.5,0.1,0.7c0.1,0.5,0.1,1,0.2,1.5c0.2,0.9,0.4,1.7,0.6,2.5c0.5,1.5,1,2.7,1.4,3.5\
                c0.2,0.4,0.4,0.7,0.5,0.9c0.1,0.2,0.2,0.3,0.2,0.3c0.2,0.3,0.6,0.6,1,0.5c0.5-0.1,0.9-0.6,0.8-1.2l0-0.1c0,0-0.1-0.5-0.2-1.3\
                c-0.1-0.8-0.3-2-0.5-3.4c-0.1-0.7-0.2-1.4-0.2-2.2c0-0.4,0-0.8,0-1.1c0-0.2,0-0.4,0-0.7l0-0.2c0,0,0-0.1,0-0.1l0-0.2\
                c0.1-0.6,0.3-1.1,0.7-1.7c0.4-0.6,1-1.2,1.7-2.2c0.3-0.5,0.7-1,1-1.7c0.1-0.3,0.2-0.6,0.3-1c0.1-0.3,0.2-0.7,0.2-1\
                c0-0.2,0.1-0.4,0.1-0.5l0-0.4l0-0.4l0-0.1l0,0l0,0l0-0.1l0-0.2c0-0.5-0.1-1-0.2-1.5c-0.3-2-0.7-3.7-1.1-5.1\
                c-0.4-1.5-0.9-2.6-1.2-3.5c-0.3-0.8-0.5-1.3-0.5-1.3l0,0c-0.2-0.4-0.6-0.6-1-0.6c-0.6,0.1-0.9,0.6-0.9,1.1c0,0,0.1,0.5,0.2,1.3\
                c0.1,0.8,0.2,2.1,0.4,3.5c0.2,1.4,0.3,3.1,0.4,4.8c0,0.4,0,0.9,0,1.3c0,0.1-0.1,1-0.1,1.1c-0.1,0.2-0.2,0.5-0.3,0.8\
                c-0.1,0.3-0.3,0.6-0.5,0.9c-0.5,0.6-1.2,1.4-1.9,2.4c-0.7,1.1-1.1,2.5-1.1,3.7l0,0.5c0,0.1,0,0.1,0,0.3L116,86z')
                path(d='M124,85.8l0,0.2c0,0.2,0,0.5,0.1,0.7c0.1,0.5,0.1,1,0.2,1.5c0.2,0.9,0.4,1.7,0.6,2.5c0.5,1.5,1,2.7,1.4,3.5\
                c0.2,0.4,0.4,0.7,0.5,0.9c0.1,0.2,0.2,0.3,0.2,0.3c0.2,0.3,0.6,0.6,1,0.5c0.5-0.1,0.9-0.6,0.8-1.2l0-0.1c0,0-0.1-0.5-0.2-1.3\
                c-0.1-0.8-0.3-2-0.5-3.4c-0.1-0.7-0.2-1.4-0.2-2.2c0-0.4,0-0.8,0-1.1c0-0.2,0-0.4,0-0.7l0-0.2c0,0,0-0.1,0-0.1l0-0.2\
                c0.1-0.6,0.3-1.1,0.7-1.7c0.4-0.6,1-1.2,1.7-2.2c0.3-0.5,0.7-1,1-1.7c0.1-0.3,0.2-0.6,0.3-1c0.1-0.3,0.2-0.7,0.2-1\
                c0-0.2,0.1-0.4,0.1-0.5l0-0.4l0-0.4l0-0.1l0,0l0,0l0-0.1l0-0.2c0-0.5-0.1-1-0.2-1.5c-0.3-2-0.7-3.7-1.1-5.1\
                c-0.4-1.5-0.9-2.6-1.2-3.5c-0.3-0.8-0.5-1.3-0.5-1.3l0,0c-0.2-0.4-0.6-0.6-1-0.6c-0.6,0.1-0.9,0.6-0.9,1.1c0,0,0.1,0.5,0.2,1.3\
                c0.1,0.8,0.2,2.1,0.4,3.5c0.2,1.4,0.3,3.1,0.4,4.8c0,0.4,0,0.9,0,1.3c0,0.1-0.1,1-0.1,1.1c-0.1,0.2-0.2,0.5-0.3,0.8\
                c-0.1,0.3-0.3,0.6-0.5,0.9c-0.5,0.6-1.2,1.4-1.9,2.4c-0.7,1.1-1.1,2.5-1.1,3.7l0,0.5C124,85.7,124,85.7,124,85.8z')
                path(d='M132,85.8l0,0.2c0,0.2,0,0.5,0.1,0.7c0.1,0.5,0.1,1,0.2,1.5c0.2,0.9,0.4,1.7,0.6,2.5c0.5,1.5,1,2.7,1.4,3.5\
                c0.2,0.4,0.4,0.7,0.5,0.9c0.1,0.2,0.2,0.3,0.2,0.3c0.2,0.3,0.6,0.6,1,0.5c0.5-0.1,0.9-0.6,0.8-1.2l0-0.1c0,0-0.1-0.5-0.2-1.3\
                c-0.1-0.8-0.3-2-0.5-3.4c-0.1-0.7-0.2-1.4-0.2-2.2c0-0.4,0-0.8,0-1.1c0-0.2,0-0.4,0-0.7l0-0.2c0,0,0-0.1,0-0.1l0-0.2\
                c0.1-0.6,0.3-1.1,0.7-1.7c0.4-0.6,1-1.2,1.7-2.2c0.3-0.5,0.7-1,1-1.7c0.1-0.3,0.2-0.6,0.3-1c0.1-0.3,0.2-0.7,0.2-1\
                c0-0.2,0.1-0.4,0.1-0.5l0-0.4l0-0.4l0-0.1l0,0l0,0l0-0.1l0-0.2c0-0.5-0.1-1-0.2-1.5c-0.3-2-0.7-3.7-1.1-5.1\
                c-0.4-1.5-0.9-2.6-1.2-3.5c-0.3-0.8-0.5-1.3-0.5-1.3l0,0c-0.2-0.4-0.6-0.6-1-0.6c-0.6,0.1-0.9,0.6-0.9,1.1c0,0,0.1,0.5,0.2,1.3\
                c0.1,0.8,0.2,2.1,0.4,3.5c0.2,1.4,0.3,3.1,0.4,4.8c0,0.4,0,0.9,0,1.3c0,0.1-0.1,1-0.1,1.1c-0.1,0.2-0.2,0.5-0.3,0.8\
                c-0.1,0.3-0.3,0.6-0.5,0.9c-0.5,0.6-1.2,1.4-1.9,2.4c-0.7,1.1-1.1,2.5-1.1,3.7l0,0.5C132,85.7,132,85.7,132,85.8z')

            span.form__span Blend

        p.form__answer
          input(type="radio" name="type" id="single-origin" class="form__radio--hidden" value="Single Origin" )
          label(for="single-origin" class="form__checkbox-label")
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" class="svg--grind svg--grind--single-origin")
              title Single Origin Icon
              style(type='text/css').
                .st0{fill:none;stroke:#FF0000;stroke-miterlimit:10;}
                .st1{stroke:url(#SVGID_1_);stroke-miterlimit:10;}
              g
                path(d='M224,120h-8.8c0.2-2.8,0.4-5.4,0.5-7.6c0.3-4.6-3.4-8.4-8-8.4H48.3c-4.6,0-8.2,3.9-8,8.4C42,142.1,53.1,240,128,240\
                c42.4,0,64.4-31.4,75.7-64H216c0,0,0,0,0,0c0.4,0,12.1-0.1,16-8c3.9-8.1,8-24.1,8-32S231.8,120,224,120z M167.9,218.1\
                c-11.1,9.2-24.5,13.9-39.9,13.9s-28.8-4.7-39.9-13.9c-9.5-7.9-17.6-19.4-24-34c-11.7-26.6-14.9-56.6-15.7-72.1h159.4l0,0\
                c-0.9,15.5-4.1,45.6-15.7,72.2C185.6,198.7,177.5,210.2,167.9,218.1z M224.8,164.5c-1.3,2.6-6.6,3.5-8.8,3.5c0,0,0,0,0,0h-6.9\
                l9.3-40h5.6c3.4,0,8,4.6,8,8C232,142.6,228.2,157.5,224.8,164.5z')
                path(d='M125.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C124.9,182.9,125,183.5,125.5,183.8z')
                path(d='M130.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C129.9,182.9,130,183.5,130.5,183.8z')
                path(d='M115.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C114.9,182.9,115,183.5,115.5,183.8z')
                path(d='M120.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C119.9,182.9,120,183.5,120.5,183.8z')
                path(d='M105.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C104.9,182.9,105,183.5,105.5,183.8z')
                path(d='M110.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C109.9,182.9,110,183.5,110.5,183.8z')
                path(d='M95.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C94.9,182.9,95,183.5,95.5,183.8z')
                path(d='M100.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C99.9,182.9,100,183.5,100.5,183.8z')
                path(d='M90.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C89.9,182.9,90,183.5,90.5,183.8z')
                path(d='M81.6,183.8c0.1-0.1,0.2-0.2,0.3-0.3l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3l-13.6,21.3\
                C80.9,182.5,81.2,183.2,81.6,183.8z')
                path(d='M85.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C84.9,182.9,85,183.5,85.5,183.8z')
                path(d='M78.7,177.7c0.3,0.6,0.5,1.1,0.8,1.7l11.4-17.9c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3l-10.7,16.8\
                C78.5,177.4,78.6,177.6,78.7,177.7z')
                path(d='M75.6,169.9l5.3-8.3c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3l-4.4,7C75,168.3,75.3,169.1,75.6,169.9z')
                path(d='M73.8,164.8l2-3.2c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3l-1.1,1.8C73.3,163.1,73.5,163.9,73.8,164.8z')
                path(d='M77.4,174.7l8.4-13.2c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3l-7.6,12C76.8,173.2,77.1,174,77.4,174.7z')
                path(d='M135.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C134.9,182.9,135,183.5,135.5,183.8z')
                path(d='M140.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C139.9,182.9,140,183.5,140.5,183.8z')
                path(d='M145.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C144.9,182.9,145,183.5,145.5,183.8z')
                path(d='M150.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C149.9,182.9,150,183.5,150.5,183.8z')
                path(d='M155.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C154.9,182.9,155,183.5,155.5,183.8z')
                path(d='M160.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C159.9,182.9,160,183.5,160.5,183.8z')
                path(d='M165.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C164.9,182.9,165,183.5,165.5,183.8z')
                path(d='M170.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C169.9,182.9,170,183.5,170.5,183.8z')
                path(d='M194.7,120H61.3c-2.4,0-4.2,2.1-4,4.4c0.9,7.8,2.3,17.4,4.7,27.6h0c0.1,0.6,0.3,1.1,0.4,1.7c0,0.1,0,0.2,0.1,0.3h0\
                c2.2,8.9,5,18.2,8.9,26.9c1.7,4,3.6,7.7,5.6,11.1c12.4,21.5,29.2,32,51.1,32s38.7-10.5,51.1-32c2-3.4,3.8-7.1,5.6-11.1\
                c3.8-8.8,6.7-18,8.9-26.9h0c0-0.1,0-0.2,0.1-0.3c0.1-0.6,0.3-1.1,0.4-1.7h0c2.4-10.2,3.8-19.8,4.7-27.6\
                C198.9,122.1,197,120,194.7,120z M182.8,180.1c-1.5,3.5-3.2,6.8-4.9,9.9H78.1c-1.7-3.1-3.4-6.4-4.9-9.9c-3.4-7.7-6.3-16.5-8.7-26.1\
                h126.9C189.1,163.6,186.2,172.4,182.8,180.1z M196.7,124.2c-1.1,9.6-2.7,19-4.8,27.8H64.1c-2.1-8.8-3.6-18.1-4.7-27.8\
                c-0.1-0.6,0.1-1.1,0.5-1.5c0.4-0.4,0.9-0.7,1.5-0.7h133.5c0.6,0,1,0.2,1.4,0.7C196.6,123.1,196.8,123.6,196.7,124.2z')
                path(d='M80,133c2.2,0,4-1.8,4-4s-1.8-4-4-4c-2.2,0-4,1.8-4,4S77.8,133,80,133z M80,127c1.1,0,2,0.9,2,2s-0.9,2-2,2\
                c-1.1,0-2-0.9-2-2S78.9,127,80,127z')
                circle(cx='176', cy='136', r='2')
                circle(cx='144', cy='136', r='2')
                circle(cx='160', cy='136', r='2')
                circle(cx='112', cy='136', r='2')
                circle(cx='128', cy='136', r='2')
                circle(cx='80', cy='136', r='2')
                circle(cx='96', cy='136', r='2')
                path(d='M96,133c2.2,0,4-1.8,4-4s-1.8-4-4-4c-2.2,0-4,1.8-4,4S93.8,133,96,133z M96,127c1.1,0,2,0.9,2,2s-0.9,2-2,2\
                c-1.1,0-2-0.9-2-2S94.9,127,96,127z')
                path(d='M112,133c2.2,0,4-1.8,4-4s-1.8-4-4-4c-2.2,0-4,1.8-4,4S109.8,133,112,133z M112,127c1.1,0,2,0.9,2,2s-0.9,2-2,2\
                c-1.1,0-2-0.9-2-2S110.9,127,112,127z')
                path(d='M128,133c2.2,0,4-1.8,4-4s-1.8-4-4-4c-2.2,0-4,1.8-4,4S125.8,133,128,133z M128,127c1.1,0,2,0.9,2,2s-0.9,2-2,2\
                c-1.1,0-2-0.9-2-2S126.9,127,128,127z')
                path(d='M144,133c2.2,0,4-1.8,4-4s-1.8-4-4-4c-2.2,0-4,1.8-4,4S141.8,133,144,133z M144,127c1.1,0,2,0.9,2,2s-0.9,2-2,2\
                c-1.1,0-2-0.9-2-2S142.9,127,144,127z')
                path(d='M160,133c2.2,0,4-1.8,4-4s-1.8-4-4-4c-2.2,0-4,1.8-4,4S157.8,133,160,133z M160,127c1.1,0,2,0.9,2,2s-0.9,2-2,2\
                c-1.1,0-2-0.9-2-2S158.9,127,160,127z')
                path(d='M176,133c2.2,0,4-1.8,4-4s-1.8-4-4-4c-2.2,0-4,1.8-4,4S173.8,133,176,133z M176,127c1.1,0,2,0.9,2,2s-0.9,2-2,2\
                c-1.1,0-2-0.9-2-2S174.9,127,176,127z')
                path(d='M72,131c-2.2,0-4,1.8-4,4s1.8,4,4,4c2.2,0,4-1.8,4-4S74.2,131,72,131z M72,137c-1.1,0-2-0.9-2-2s0.9-2,2-2c1.1,0,2,0.9,2,2\
                S73.1,137,72,137z')
                path(d='M88,131c-2.2,0-4,1.8-4,4s1.8,4,4,4c2.2,0,4-1.8,4-4S90.2,131,88,131z M88,137c-1.1,0-2-0.9-2-2s0.9-2,2-2c1.1,0,2,0.9,2,2\
                S89.1,137,88,137z')
                path(d='M104,131c-2.2,0-4,1.8-4,4s1.8,4,4,4c2.2,0,4-1.8,4-4S106.2,131,104,131z M104,137c-1.1,0-2-0.9-2-2s0.9-2,2-2\
                c1.1,0,2,0.9,2,2S105.1,137,104,137z')
                path(d='M120,131c-2.2,0-4,1.8-4,4s1.8,4,4,4c2.2,0,4-1.8,4-4S122.2,131,120,131z M120,137c-1.1,0-2-0.9-2-2s0.9-2,2-2\
                c1.1,0,2,0.9,2,2S121.1,137,120,137z')
                path(d='M136,131c-2.2,0-4,1.8-4,4s1.8,4,4,4c2.2,0,4-1.8,4-4S138.2,131,136,131z M136,137c-1.1,0-2-0.9-2-2s0.9-2,2-2\
                c1.1,0,2,0.9,2,2S137.1,137,136,137z')
                path(d='M152,131c-2.2,0-4,1.8-4,4s1.8,4,4,4c2.2,0,4-1.8,4-4S154.2,131,152,131z M152,137c-1.1,0-2-0.9-2-2s0.9-2,2-2\
                c1.1,0,2,0.9,2,2S153.1,137,152,137z')
                path(d='M168,131c-2.2,0-4,1.8-4,4s1.8,4,4,4c2.2,0,4-1.8,4-4S170.2,131,168,131z M168,137c-1.1,0-2-0.9-2-2s0.9-2,2-2\
                c1.1,0,2,0.9,2,2S169.1,137,168,137z')
                path(d='M184,131c-2.2,0-4,1.8-4,4s1.8,4,4,4c2.2,0,4-1.8,4-4S186.2,131,184,131z M184,137c-1.1,0-2-0.9-2-2s0.9-2,2-2\
                c1.1,0,2,0.9,2,2S185.1,137,184,137z')
                path(d='M80,140c-2.2,0-4,1.8-4,4s1.8,4,4,4c2.2,0,4-1.8,4-4S82.2,140,80,140z M80,146c-1.1,0-2-0.9-2-2s0.9-2,2-2c1.1,0,2,0.9,2,2\
                S81.1,146,80,146z')
                circle(cx='72', cy='142', r='2')
                circle(cx='88', cy='142', r='2')
                circle(cx='104', cy='142', r='2')
                circle(cx='120', cy='142', r='2')
                circle(cx='136', cy='142', r='2')
                circle(cx='152', cy='142', r='2')
                circle(cx='168', cy='142', r='2')
                circle(cx='184', cy='142', r='2')
                circle(cx='72', cy='128', r='2')
                circle(cx='88', cy='128', r='2')
                circle(cx='104', cy='128', r='2')
                circle(cx='120', cy='128', r='2')
                circle(cx='136', cy='128', r='2')
                circle(cx='152', cy='128', r='2')
                circle(cx='168', cy='128', r='2')
                circle(cx='184', cy='128', r='2')
                path(d='M96,140c-2.2,0-4,1.8-4,4s1.8,4,4,4c2.2,0,4-1.8,4-4S98.2,140,96,140z M96,146c-1.1,0-2-0.9-2-2s0.9-2,2-2c1.1,0,2,0.9,2,2\
                S97.1,146,96,146z')
                path(d='M112,140c-2.2,0-4,1.8-4,4s1.8,4,4,4c2.2,0,4-1.8,4-4S114.2,140,112,140z M112,146c-1.1,0-2-0.9-2-2s0.9-2,2-2\
                c1.1,0,2,0.9,2,2S113.1,146,112,146z')
                path(d='M128,140c-2.2,0-4,1.8-4,4s1.8,4,4,4c2.2,0,4-1.8,4-4S130.2,140,128,140z M128,146c-1.1,0-2-0.9-2-2s0.9-2,2-2\
                c1.1,0,2,0.9,2,2S129.1,146,128,146z')
                path(d='M144,140c-2.2,0-4,1.8-4,4s1.8,4,4,4c2.2,0,4-1.8,4-4S146.2,140,144,140z M144,146c-1.1,0-2-0.9-2-2s0.9-2,2-2\
                c1.1,0,2,0.9,2,2S145.1,146,144,146z')
                path(d='M160,140c-2.2,0-4,1.8-4,4s1.8,4,4,4c2.2,0,4-1.8,4-4S162.2,140,160,140z M160,146c-1.1,0-2-0.9-2-2s0.9-2,2-2\
                c1.1,0,2,0.9,2,2S161.1,146,160,146z')
                path(d='M176,140c-2.2,0-4,1.8-4,4s1.8,4,4,4c2.2,0,4-1.8,4-4S178.2,140,176,140z M176,146c-1.1,0-2-0.9-2-2s0.9-2,2-2\
                c1.1,0,2,0.9,2,2S177.1,146,176,146z')
                path(d='M116,86c0,0.2,0,0.5,0.1,0.7c0.1,0.5,0.1,1,0.2,1.5c0.2,0.9,0.4,1.7,0.6,2.5c0.5,1.5,1,2.7,1.4,3.5\
                c0.2,0.4,0.4,0.7,0.5,0.9c0.1,0.2,0.2,0.3,0.2,0.3c0.2,0.3,0.6,0.6,1,0.5c0.5-0.1,0.9-0.6,0.8-1.2l0-0.1c0,0-0.1-0.5-0.2-1.3\
                c-0.1-0.8-0.3-2-0.5-3.4c-0.1-0.7-0.2-1.4-0.2-2.2c0-0.4,0-0.8,0-1.1c0-0.2,0-0.4,0-0.7l0-0.2c0,0,0-0.1,0-0.1l0-0.2\
                c0.1-0.6,0.3-1.1,0.7-1.7c0.4-0.6,1-1.2,1.7-2.2c0.3-0.5,0.7-1,1-1.7c0.1-0.3,0.2-0.6,0.3-1c0.1-0.3,0.2-0.7,0.2-1\
                c0-0.2,0.1-0.4,0.1-0.5l0-0.4l0-0.4l0-0.1l0,0l0,0l0-0.1l0-0.2c0-0.5-0.1-1-0.2-1.5c-0.3-2-0.7-3.7-1.1-5.1\
                c-0.4-1.5-0.9-2.6-1.2-3.5c-0.3-0.8-0.5-1.3-0.5-1.3l0,0c-0.2-0.4-0.6-0.6-1-0.6c-0.6,0.1-0.9,0.6-0.9,1.1c0,0,0.1,0.5,0.2,1.3\
                c0.1,0.8,0.2,2.1,0.4,3.5c0.2,1.4,0.3,3.1,0.4,4.8c0,0.4,0,0.9,0,1.3c0,0.1-0.1,1-0.1,1.1c-0.1,0.2-0.2,0.5-0.3,0.8\
                c-0.1,0.3-0.3,0.6-0.5,0.9c-0.5,0.6-1.2,1.4-1.9,2.4c-0.7,1.1-1.1,2.5-1.1,3.7l0,0.5c0,0.1,0,0.1,0,0.3L116,86z')
                path(d='M124,85.8l0,0.2c0,0.2,0,0.5,0.1,0.7c0.1,0.5,0.1,1,0.2,1.5c0.2,0.9,0.4,1.7,0.6,2.5c0.5,1.5,1,2.7,1.4,3.5\
                c0.2,0.4,0.4,0.7,0.5,0.9c0.1,0.2,0.2,0.3,0.2,0.3c0.2,0.3,0.6,0.6,1,0.5c0.5-0.1,0.9-0.6,0.8-1.2l0-0.1c0,0-0.1-0.5-0.2-1.3\
                c-0.1-0.8-0.3-2-0.5-3.4c-0.1-0.7-0.2-1.4-0.2-2.2c0-0.4,0-0.8,0-1.1c0-0.2,0-0.4,0-0.7l0-0.2c0,0,0-0.1,0-0.1l0-0.2\
                c0.1-0.6,0.3-1.1,0.7-1.7c0.4-0.6,1-1.2,1.7-2.2c0.3-0.5,0.7-1,1-1.7c0.1-0.3,0.2-0.6,0.3-1c0.1-0.3,0.2-0.7,0.2-1\
                c0-0.2,0.1-0.4,0.1-0.5l0-0.4l0-0.4l0-0.1l0,0l0,0l0-0.1l0-0.2c0-0.5-0.1-1-0.2-1.5c-0.3-2-0.7-3.7-1.1-5.1\
                c-0.4-1.5-0.9-2.6-1.2-3.5c-0.3-0.8-0.5-1.3-0.5-1.3l0,0c-0.2-0.4-0.6-0.6-1-0.6c-0.6,0.1-0.9,0.6-0.9,1.1c0,0,0.1,0.5,0.2,1.3\
                c0.1,0.8,0.2,2.1,0.4,3.5c0.2,1.4,0.3,3.1,0.4,4.8c0,0.4,0,0.9,0,1.3c0,0.1-0.1,1-0.1,1.1c-0.1,0.2-0.2,0.5-0.3,0.8\
                c-0.1,0.3-0.3,0.6-0.5,0.9c-0.5,0.6-1.2,1.4-1.9,2.4c-0.7,1.1-1.1,2.5-1.1,3.7l0,0.5C124,85.7,124,85.7,124,85.8z')
                path(d='M132,85.8l0,0.2c0,0.2,0,0.5,0.1,0.7c0.1,0.5,0.1,1,0.2,1.5c0.2,0.9,0.4,1.7,0.6,2.5c0.5,1.5,1,2.7,1.4,3.5\
                c0.2,0.4,0.4,0.7,0.5,0.9c0.1,0.2,0.2,0.3,0.2,0.3c0.2,0.3,0.6,0.6,1,0.5c0.5-0.1,0.9-0.6,0.8-1.2l0-0.1c0,0-0.1-0.5-0.2-1.3\
                c-0.1-0.8-0.3-2-0.5-3.4c-0.1-0.7-0.2-1.4-0.2-2.2c0-0.4,0-0.8,0-1.1c0-0.2,0-0.4,0-0.7l0-0.2c0,0,0-0.1,0-0.1l0-0.2\
                c0.1-0.6,0.3-1.1,0.7-1.7c0.4-0.6,1-1.2,1.7-2.2c0.3-0.5,0.7-1,1-1.7c0.1-0.3,0.2-0.6,0.3-1c0.1-0.3,0.2-0.7,0.2-1\
                c0-0.2,0.1-0.4,0.1-0.5l0-0.4l0-0.4l0-0.1l0,0l0,0l0-0.1l0-0.2c0-0.5-0.1-1-0.2-1.5c-0.3-2-0.7-3.7-1.1-5.1\
                c-0.4-1.5-0.9-2.6-1.2-3.5c-0.3-0.8-0.5-1.3-0.5-1.3l0,0c-0.2-0.4-0.6-0.6-1-0.6c-0.6,0.1-0.9,0.6-0.9,1.1c0,0,0.1,0.5,0.2,1.3\
                c0.1,0.8,0.2,2.1,0.4,3.5c0.2,1.4,0.3,3.1,0.4,4.8c0,0.4,0,0.9,0,1.3c0,0.1-0.1,1-0.1,1.1c-0.1,0.2-0.2,0.5-0.3,0.8\
                c-0.1,0.3-0.3,0.6-0.5,0.9c-0.5,0.6-1.2,1.4-1.9,2.4c-0.7,1.1-1.1,2.5-1.1,3.7l0,0.5C132,85.7,132,85.7,132,85.8z')

            span.form__span Single Origin

        p.form__answer
          input(type="radio" name="type" id="Microlot" class="form__radio--hidden" value="Microlot" )
          label(for="Microlot" class="form__checkbox-label")
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" class="svg--grind svg--grind--microlot")
              title Blend Icon
              style(type='text/css').
                .st0{fill:none;stroke:#FF0000;stroke-miterlimit:10;}
                .st1{stroke:url(#SVGID_1_);stroke-miterlimit:10;}
              g
                path(d='M224,120h-8.8c0.2-2.8,0.4-5.4,0.5-7.6c0.3-4.6-3.4-8.4-8-8.4H48.3c-4.6,0-8.2,3.9-8,8.4C42,142.1,53.1,240,128,240\
                c42.4,0,64.4-31.4,75.7-64H216c0,0,0,0,0,0c0.4,0,12.1-0.1,16-8c3.9-8.1,8-24.1,8-32S231.8,120,224,120z M167.9,218.1\
                c-11.1,9.2-24.5,13.9-39.9,13.9s-28.8-4.7-39.9-13.9c-9.5-7.9-17.6-19.4-24-34c-11.7-26.6-14.9-56.6-15.7-72.1h159.4l0,0\
                c-0.9,15.5-4.1,45.6-15.7,72.2C185.6,198.7,177.5,210.2,167.9,218.1z M224.8,164.5c-1.3,2.6-6.6,3.5-8.8,3.5c0,0,0,0,0,0h-6.9\
                l9.3-40h5.6c3.4,0,8,4.6,8,8C232,142.6,228.2,157.5,224.8,164.5z')
                path(d='M125.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C124.9,182.9,125,183.5,125.5,183.8z')
                path(d='M130.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C129.9,182.9,130,183.5,130.5,183.8z')
                path(d='M115.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C114.9,182.9,115,183.5,115.5,183.8z')
                path(d='M120.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C119.9,182.9,120,183.5,120.5,183.8z')
                path(d='M105.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C104.9,182.9,105,183.5,105.5,183.8z')
                path(d='M110.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C109.9,182.9,110,183.5,110.5,183.8z')
                path(d='M95.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C94.9,182.9,95,183.5,95.5,183.8z')
                path(d='M100.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C99.9,182.9,100,183.5,100.5,183.8z')
                path(d='M90.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C89.9,182.9,90,183.5,90.5,183.8z')
                path(d='M81.6,183.8c0.1-0.1,0.2-0.2,0.3-0.3l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3l-13.6,21.3\
                C80.9,182.5,81.2,183.2,81.6,183.8z')
                path(d='M85.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C84.9,182.9,85,183.5,85.5,183.8z')
                path(d='M78.7,177.7c0.3,0.6,0.5,1.1,0.8,1.7l11.4-17.9c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3l-10.7,16.8\
                C78.5,177.4,78.6,177.6,78.7,177.7z')
                path(d='M75.6,169.9l5.3-8.3c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3l-4.4,7C75,168.3,75.3,169.1,75.6,169.9z')
                path(d='M73.8,164.8l2-3.2c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3l-1.1,1.8C73.3,163.1,73.5,163.9,73.8,164.8z')
                path(d='M77.4,174.7l8.4-13.2c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3l-7.6,12C76.8,173.2,77.1,174,77.4,174.7z')
                path(d='M135.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C134.9,182.9,135,183.5,135.5,183.8z')
                path(d='M140.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C139.9,182.9,140,183.5,140.5,183.8z')
                path(d='M145.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C144.9,182.9,145,183.5,145.5,183.8z')
                path(d='M150.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C149.9,182.9,150,183.5,150.5,183.8z')
                path(d='M155.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C154.9,182.9,155,183.5,155.5,183.8z')
                path(d='M160.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C159.9,182.9,160,183.5,160.5,183.8z')
                path(d='M165.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C164.9,182.9,165,183.5,165.5,183.8z')
                path(d='M170.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C169.9,182.9,170,183.5,170.5,183.8z')
                path(d='M194.7,120H61.3c-2.4,0-4.2,2.1-4,4.4c0.9,7.8,2.3,17.4,4.7,27.6h0c0.1,0.6,0.3,1.1,0.4,1.7c0,0.1,0,0.2,0.1,0.3h0\
                c2.2,8.9,5,18.2,8.9,26.9c1.7,4,3.6,7.7,5.6,11.1c12.4,21.5,29.2,32,51.1,32s38.7-10.5,51.1-32c2-3.4,3.8-7.1,5.6-11.1\
                c3.8-8.8,6.7-18,8.9-26.9h0c0-0.1,0-0.2,0.1-0.3c0.1-0.6,0.3-1.1,0.4-1.7h0c2.4-10.2,3.8-19.8,4.7-27.6\
                C198.9,122.1,197,120,194.7,120z M182.8,180.1c-1.5,3.5-3.2,6.8-4.9,9.9H78.1c-1.7-3.1-3.4-6.4-4.9-9.9c-3.4-7.7-6.3-16.5-8.7-26.1\
                h126.9C189.1,163.6,186.2,172.4,182.8,180.1z M196.7,124.2c-1.1,9.6-2.7,19-4.8,27.8H64.1c-2.1-8.8-3.6-18.1-4.7-27.8\
                c-0.1-0.6,0.1-1.1,0.5-1.5c0.4-0.4,0.9-0.7,1.5-0.7h133.5c0.6,0,1,0.2,1.4,0.7C196.6,123.1,196.8,123.6,196.7,124.2z')
                path(d='M80,133c2.2,0,4-1.8,4-4s-1.8-4-4-4c-2.2,0-4,1.8-4,4S77.8,133,80,133z M80,127c1.1,0,2,0.9,2,2s-0.9,2-2,2\
                c-1.1,0-2-0.9-2-2S78.9,127,80,127z')
                circle(cx='176', cy='136', r='2')
                circle(cx='144', cy='136', r='2')
                circle(cx='160', cy='136', r='2')
                circle(cx='112', cy='136', r='2')
                circle(cx='128', cy='136', r='2')
                circle(cx='80', cy='136', r='2')
                circle(cx='96', cy='136', r='2')
                path(d='M96,133c2.2,0,4-1.8,4-4s-1.8-4-4-4c-2.2,0-4,1.8-4,4S93.8,133,96,133z M96,127c1.1,0,2,0.9,2,2s-0.9,2-2,2\
                c-1.1,0-2-0.9-2-2S94.9,127,96,127z')
                path(d='M112,133c2.2,0,4-1.8,4-4s-1.8-4-4-4c-2.2,0-4,1.8-4,4S109.8,133,112,133z M112,127c1.1,0,2,0.9,2,2s-0.9,2-2,2\
                c-1.1,0-2-0.9-2-2S110.9,127,112,127z')
                path(d='M128,133c2.2,0,4-1.8,4-4s-1.8-4-4-4c-2.2,0-4,1.8-4,4S125.8,133,128,133z M128,127c1.1,0,2,0.9,2,2s-0.9,2-2,2\
                c-1.1,0-2-0.9-2-2S126.9,127,128,127z')
                path(d='M144,133c2.2,0,4-1.8,4-4s-1.8-4-4-4c-2.2,0-4,1.8-4,4S141.8,133,144,133z M144,127c1.1,0,2,0.9,2,2s-0.9,2-2,2\
                c-1.1,0-2-0.9-2-2S142.9,127,144,127z')
                path(d='M160,133c2.2,0,4-1.8,4-4s-1.8-4-4-4c-2.2,0-4,1.8-4,4S157.8,133,160,133z M160,127c1.1,0,2,0.9,2,2s-0.9,2-2,2\
                c-1.1,0-2-0.9-2-2S158.9,127,160,127z')
                path(d='M176,133c2.2,0,4-1.8,4-4s-1.8-4-4-4c-2.2,0-4,1.8-4,4S173.8,133,176,133z M176,127c1.1,0,2,0.9,2,2s-0.9,2-2,2\
                c-1.1,0-2-0.9-2-2S174.9,127,176,127z')
                path(d='M72,131c-2.2,0-4,1.8-4,4s1.8,4,4,4c2.2,0,4-1.8,4-4S74.2,131,72,131z M72,137c-1.1,0-2-0.9-2-2s0.9-2,2-2c1.1,0,2,0.9,2,2\
                S73.1,137,72,137z')
                path(d='M88,131c-2.2,0-4,1.8-4,4s1.8,4,4,4c2.2,0,4-1.8,4-4S90.2,131,88,131z M88,137c-1.1,0-2-0.9-2-2s0.9-2,2-2c1.1,0,2,0.9,2,2\
                S89.1,137,88,137z')
                path(d='M104,131c-2.2,0-4,1.8-4,4s1.8,4,4,4c2.2,0,4-1.8,4-4S106.2,131,104,131z M104,137c-1.1,0-2-0.9-2-2s0.9-2,2-2\
                c1.1,0,2,0.9,2,2S105.1,137,104,137z')
                path(d='M120,131c-2.2,0-4,1.8-4,4s1.8,4,4,4c2.2,0,4-1.8,4-4S122.2,131,120,131z M120,137c-1.1,0-2-0.9-2-2s0.9-2,2-2\
                c1.1,0,2,0.9,2,2S121.1,137,120,137z')
                path(d='M136,131c-2.2,0-4,1.8-4,4s1.8,4,4,4c2.2,0,4-1.8,4-4S138.2,131,136,131z M136,137c-1.1,0-2-0.9-2-2s0.9-2,2-2\
                c1.1,0,2,0.9,2,2S137.1,137,136,137z')
                path(d='M152,131c-2.2,0-4,1.8-4,4s1.8,4,4,4c2.2,0,4-1.8,4-4S154.2,131,152,131z M152,137c-1.1,0-2-0.9-2-2s0.9-2,2-2\
                c1.1,0,2,0.9,2,2S153.1,137,152,137z')
                path(d='M168,131c-2.2,0-4,1.8-4,4s1.8,4,4,4c2.2,0,4-1.8,4-4S170.2,131,168,131z M168,137c-1.1,0-2-0.9-2-2s0.9-2,2-2\
                c1.1,0,2,0.9,2,2S169.1,137,168,137z')
                path(d='M184,131c-2.2,0-4,1.8-4,4s1.8,4,4,4c2.2,0,4-1.8,4-4S186.2,131,184,131z M184,137c-1.1,0-2-0.9-2-2s0.9-2,2-2\
                c1.1,0,2,0.9,2,2S185.1,137,184,137z')
                path(d='M80,140c-2.2,0-4,1.8-4,4s1.8,4,4,4c2.2,0,4-1.8,4-4S82.2,140,80,140z M80,146c-1.1,0-2-0.9-2-2s0.9-2,2-2c1.1,0,2,0.9,2,2\
                S81.1,146,80,146z')
                circle(cx='72', cy='142', r='2')
                circle(cx='88', cy='142', r='2')
                circle(cx='104', cy='142', r='2')
                circle(cx='120', cy='142', r='2')
                circle(cx='136', cy='142', r='2')
                circle(cx='152', cy='142', r='2')
                circle(cx='168', cy='142', r='2')
                circle(cx='184', cy='142', r='2')
                circle(cx='72', cy='128', r='2')
                circle(cx='88', cy='128', r='2')
                circle(cx='104', cy='128', r='2')
                circle(cx='120', cy='128', r='2')
                circle(cx='136', cy='128', r='2')
                circle(cx='152', cy='128', r='2')
                circle(cx='168', cy='128', r='2')
                circle(cx='184', cy='128', r='2')
                path(d='M96,140c-2.2,0-4,1.8-4,4s1.8,4,4,4c2.2,0,4-1.8,4-4S98.2,140,96,140z M96,146c-1.1,0-2-0.9-2-2s0.9-2,2-2c1.1,0,2,0.9,2,2\
                S97.1,146,96,146z')
                path(d='M112,140c-2.2,0-4,1.8-4,4s1.8,4,4,4c2.2,0,4-1.8,4-4S114.2,140,112,140z M112,146c-1.1,0-2-0.9-2-2s0.9-2,2-2\
                c1.1,0,2,0.9,2,2S113.1,146,112,146z')
                path(d='M128,140c-2.2,0-4,1.8-4,4s1.8,4,4,4c2.2,0,4-1.8,4-4S130.2,140,128,140z M128,146c-1.1,0-2-0.9-2-2s0.9-2,2-2\
                c1.1,0,2,0.9,2,2S129.1,146,128,146z')
                path(d='M144,140c-2.2,0-4,1.8-4,4s1.8,4,4,4c2.2,0,4-1.8,4-4S146.2,140,144,140z M144,146c-1.1,0-2-0.9-2-2s0.9-2,2-2\
                c1.1,0,2,0.9,2,2S145.1,146,144,146z')
                path(d='M160,140c-2.2,0-4,1.8-4,4s1.8,4,4,4c2.2,0,4-1.8,4-4S162.2,140,160,140z M160,146c-1.1,0-2-0.9-2-2s0.9-2,2-2\
                c1.1,0,2,0.9,2,2S161.1,146,160,146z')
                path(d='M176,140c-2.2,0-4,1.8-4,4s1.8,4,4,4c2.2,0,4-1.8,4-4S178.2,140,176,140z M176,146c-1.1,0-2-0.9-2-2s0.9-2,2-2\
                c1.1,0,2,0.9,2,2S177.1,146,176,146z')
                path(d='M116,86c0,0.2,0,0.5,0.1,0.7c0.1,0.5,0.1,1,0.2,1.5c0.2,0.9,0.4,1.7,0.6,2.5c0.5,1.5,1,2.7,1.4,3.5\
                c0.2,0.4,0.4,0.7,0.5,0.9c0.1,0.2,0.2,0.3,0.2,0.3c0.2,0.3,0.6,0.6,1,0.5c0.5-0.1,0.9-0.6,0.8-1.2l0-0.1c0,0-0.1-0.5-0.2-1.3\
                c-0.1-0.8-0.3-2-0.5-3.4c-0.1-0.7-0.2-1.4-0.2-2.2c0-0.4,0-0.8,0-1.1c0-0.2,0-0.4,0-0.7l0-0.2c0,0,0-0.1,0-0.1l0-0.2\
                c0.1-0.6,0.3-1.1,0.7-1.7c0.4-0.6,1-1.2,1.7-2.2c0.3-0.5,0.7-1,1-1.7c0.1-0.3,0.2-0.6,0.3-1c0.1-0.3,0.2-0.7,0.2-1\
                c0-0.2,0.1-0.4,0.1-0.5l0-0.4l0-0.4l0-0.1l0,0l0,0l0-0.1l0-0.2c0-0.5-0.1-1-0.2-1.5c-0.3-2-0.7-3.7-1.1-5.1\
                c-0.4-1.5-0.9-2.6-1.2-3.5c-0.3-0.8-0.5-1.3-0.5-1.3l0,0c-0.2-0.4-0.6-0.6-1-0.6c-0.6,0.1-0.9,0.6-0.9,1.1c0,0,0.1,0.5,0.2,1.3\
                c0.1,0.8,0.2,2.1,0.4,3.5c0.2,1.4,0.3,3.1,0.4,4.8c0,0.4,0,0.9,0,1.3c0,0.1-0.1,1-0.1,1.1c-0.1,0.2-0.2,0.5-0.3,0.8\
                c-0.1,0.3-0.3,0.6-0.5,0.9c-0.5,0.6-1.2,1.4-1.9,2.4c-0.7,1.1-1.1,2.5-1.1,3.7l0,0.5c0,0.1,0,0.1,0,0.3L116,86z')
                path(d='M124,85.8l0,0.2c0,0.2,0,0.5,0.1,0.7c0.1,0.5,0.1,1,0.2,1.5c0.2,0.9,0.4,1.7,0.6,2.5c0.5,1.5,1,2.7,1.4,3.5\
                c0.2,0.4,0.4,0.7,0.5,0.9c0.1,0.2,0.2,0.3,0.2,0.3c0.2,0.3,0.6,0.6,1,0.5c0.5-0.1,0.9-0.6,0.8-1.2l0-0.1c0,0-0.1-0.5-0.2-1.3\
                c-0.1-0.8-0.3-2-0.5-3.4c-0.1-0.7-0.2-1.4-0.2-2.2c0-0.4,0-0.8,0-1.1c0-0.2,0-0.4,0-0.7l0-0.2c0,0,0-0.1,0-0.1l0-0.2\
                c0.1-0.6,0.3-1.1,0.7-1.7c0.4-0.6,1-1.2,1.7-2.2c0.3-0.5,0.7-1,1-1.7c0.1-0.3,0.2-0.6,0.3-1c0.1-0.3,0.2-0.7,0.2-1\
                c0-0.2,0.1-0.4,0.1-0.5l0-0.4l0-0.4l0-0.1l0,0l0,0l0-0.1l0-0.2c0-0.5-0.1-1-0.2-1.5c-0.3-2-0.7-3.7-1.1-5.1\
                c-0.4-1.5-0.9-2.6-1.2-3.5c-0.3-0.8-0.5-1.3-0.5-1.3l0,0c-0.2-0.4-0.6-0.6-1-0.6c-0.6,0.1-0.9,0.6-0.9,1.1c0,0,0.1,0.5,0.2,1.3\
                c0.1,0.8,0.2,2.1,0.4,3.5c0.2,1.4,0.3,3.1,0.4,4.8c0,0.4,0,0.9,0,1.3c0,0.1-0.1,1-0.1,1.1c-0.1,0.2-0.2,0.5-0.3,0.8\
                c-0.1,0.3-0.3,0.6-0.5,0.9c-0.5,0.6-1.2,1.4-1.9,2.4c-0.7,1.1-1.1,2.5-1.1,3.7l0,0.5C124,85.7,124,85.7,124,85.8z')
                path(d='M132,85.8l0,0.2c0,0.2,0,0.5,0.1,0.7c0.1,0.5,0.1,1,0.2,1.5c0.2,0.9,0.4,1.7,0.6,2.5c0.5,1.5,1,2.7,1.4,3.5\
                c0.2,0.4,0.4,0.7,0.5,0.9c0.1,0.2,0.2,0.3,0.2,0.3c0.2,0.3,0.6,0.6,1,0.5c0.5-0.1,0.9-0.6,0.8-1.2l0-0.1c0,0-0.1-0.5-0.2-1.3\
                c-0.1-0.8-0.3-2-0.5-3.4c-0.1-0.7-0.2-1.4-0.2-2.2c0-0.4,0-0.8,0-1.1c0-0.2,0-0.4,0-0.7l0-0.2c0,0,0-0.1,0-0.1l0-0.2\
                c0.1-0.6,0.3-1.1,0.7-1.7c0.4-0.6,1-1.2,1.7-2.2c0.3-0.5,0.7-1,1-1.7c0.1-0.3,0.2-0.6,0.3-1c0.1-0.3,0.2-0.7,0.2-1\
                c0-0.2,0.1-0.4,0.1-0.5l0-0.4l0-0.4l0-0.1l0,0l0,0l0-0.1l0-0.2c0-0.5-0.1-1-0.2-1.5c-0.3-2-0.7-3.7-1.1-5.1\
                c-0.4-1.5-0.9-2.6-1.2-3.5c-0.3-0.8-0.5-1.3-0.5-1.3l0,0c-0.2-0.4-0.6-0.6-1-0.6c-0.6,0.1-0.9,0.6-0.9,1.1c0,0,0.1,0.5,0.2,1.3\
                c0.1,0.8,0.2,2.1,0.4,3.5c0.2,1.4,0.3,3.1,0.4,4.8c0,0.4,0,0.9,0,1.3c0,0.1-0.1,1-0.1,1.1c-0.1,0.2-0.2,0.5-0.3,0.8\
                c-0.1,0.3-0.3,0.6-0.5,0.9c-0.5,0.6-1.2,1.4-1.9,2.4c-0.7,1.1-1.1,2.5-1.1,3.7l0,0.5C132,85.7,132,85.7,132,85.8z')

            span.form__span Microlot

        p.form__answer
          input(type="radio" name="type" id="decaf" class="form__radio--hidden" value="Decaffienated" )
          label(for="decaf" class="form__checkbox-label")
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" class="svg--grind svg--grind--decaf")
              title Decaf Icon
              style(type='text/css').
                .st0{fill:none;stroke:#FF0000;stroke-miterlimit:10;}
                .st1{stroke:url(#SVGID_1_);stroke-miterlimit:10;}
              g
                path(d='M224,120h-8.8c0.2-2.8,0.4-5.4,0.5-7.6c0.3-4.6-3.4-8.4-8-8.4H48.3c-4.6,0-8.2,3.9-8,8.4C42,142.1,53.1,240,128,240\
                c42.4,0,64.4-31.4,75.7-64H216c0,0,0,0,0,0c0.4,0,12.1-0.1,16-8c3.9-8.1,8-24.1,8-32S231.8,120,224,120z M167.9,218.1\
                c-11.1,9.2-24.5,13.9-39.9,13.9s-28.8-4.7-39.9-13.9c-9.5-7.9-17.6-19.4-24-34c-11.7-26.6-14.9-56.6-15.7-72.1h159.4l0,0\
                c-0.9,15.5-4.1,45.6-15.7,72.2C185.6,198.7,177.5,210.2,167.9,218.1z M224.8,164.5c-1.3,2.6-6.6,3.5-8.8,3.5c0,0,0,0,0,0h-6.9\
                l9.3-40h5.6c3.4,0,8,4.6,8,8C232,142.6,228.2,157.5,224.8,164.5z')
                path(d='M125.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C124.9,182.9,125,183.5,125.5,183.8z')
                path(d='M130.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C129.9,182.9,130,183.5,130.5,183.8z')
                path(d='M115.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C114.9,182.9,115,183.5,115.5,183.8z')
                path(d='M120.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C119.9,182.9,120,183.5,120.5,183.8z')
                path(d='M105.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C104.9,182.9,105,183.5,105.5,183.8z')
                path(d='M110.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C109.9,182.9,110,183.5,110.5,183.8z')
                path(d='M95.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C94.9,182.9,95,183.5,95.5,183.8z')
                path(d='M100.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C99.9,182.9,100,183.5,100.5,183.8z')
                path(d='M90.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C89.9,182.9,90,183.5,90.5,183.8z')
                path(d='M81.6,183.8c0.1-0.1,0.2-0.2,0.3-0.3l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3l-13.6,21.3\
                C80.9,182.5,81.2,183.2,81.6,183.8z')
                path(d='M85.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C84.9,182.9,85,183.5,85.5,183.8z')
                path(d='M78.7,177.7c0.3,0.6,0.5,1.1,0.8,1.7l11.4-17.9c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3l-10.7,16.8\
                C78.5,177.4,78.6,177.6,78.7,177.7z')
                path(d='M75.6,169.9l5.3-8.3c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3l-4.4,7C75,168.3,75.3,169.1,75.6,169.9z')
                path(d='M73.8,164.8l2-3.2c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3l-1.1,1.8C73.3,163.1,73.5,163.9,73.8,164.8z')
                path(d='M77.4,174.7l8.4-13.2c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3l-7.6,12C76.8,173.2,77.1,174,77.4,174.7z')
                path(d='M135.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C134.9,182.9,135,183.5,135.5,183.8z')
                path(d='M140.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C139.9,182.9,140,183.5,140.5,183.8z')
                path(d='M145.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C144.9,182.9,145,183.5,145.5,183.8z')
                path(d='M150.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C149.9,182.9,150,183.5,150.5,183.8z')
                path(d='M155.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C154.9,182.9,155,183.5,155.5,183.8z')
                path(d='M160.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C159.9,182.9,160,183.5,160.5,183.8z')
                path(d='M165.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C164.9,182.9,165,183.5,165.5,183.8z')
                path(d='M170.5,183.8c0.2,0.1,0.4,0.2,0.5,0.2c0.3,0,0.7-0.2,0.8-0.5l14-22c0.3-0.5,0.2-1.1-0.3-1.4c-0.5-0.3-1.1-0.2-1.4,0.3\
                l-14,22C169.9,182.9,170,183.5,170.5,183.8z')
                path(d='M194.7,120H61.3c-2.4,0-4.2,2.1-4,4.4c0.9,7.8,2.3,17.4,4.7,27.6h0c0.1,0.6,0.3,1.1,0.4,1.7c0,0.1,0,0.2,0.1,0.3h0\
                c2.2,8.9,5,18.2,8.9,26.9c1.7,4,3.6,7.7,5.6,11.1c12.4,21.5,29.2,32,51.1,32s38.7-10.5,51.1-32c2-3.4,3.8-7.1,5.6-11.1\
                c3.8-8.8,6.7-18,8.9-26.9h0c0-0.1,0-0.2,0.1-0.3c0.1-0.6,0.3-1.1,0.4-1.7h0c2.4-10.2,3.8-19.8,4.7-27.6\
                C198.9,122.1,197,120,194.7,120z M182.8,180.1c-1.5,3.5-3.2,6.8-4.9,9.9H78.1c-1.7-3.1-3.4-6.4-4.9-9.9c-3.4-7.7-6.3-16.5-8.7-26.1\
                h126.9C189.1,163.6,186.2,172.4,182.8,180.1z M196.7,124.2c-1.1,9.6-2.7,19-4.8,27.8H64.1c-2.1-8.8-3.6-18.1-4.7-27.8\
                c-0.1-0.6,0.1-1.1,0.5-1.5c0.4-0.4,0.9-0.7,1.5-0.7h133.5c0.6,0,1,0.2,1.4,0.7C196.6,123.1,196.8,123.6,196.7,124.2z')
                path(d='M80,133c2.2,0,4-1.8,4-4s-1.8-4-4-4c-2.2,0-4,1.8-4,4S77.8,133,80,133z M80,127c1.1,0,2,0.9,2,2s-0.9,2-2,2\
                c-1.1,0-2-0.9-2-2S78.9,127,80,127z')
                circle(cx='176', cy='136', r='2')
                circle(cx='144', cy='136', r='2')
                circle(cx='160', cy='136', r='2')
                circle(cx='112', cy='136', r='2')
                circle(cx='128', cy='136', r='2')
                circle(cx='80', cy='136', r='2')
                circle(cx='96', cy='136', r='2')
                path(d='M96,133c2.2,0,4-1.8,4-4s-1.8-4-4-4c-2.2,0-4,1.8-4,4S93.8,133,96,133z M96,127c1.1,0,2,0.9,2,2s-0.9,2-2,2\
                c-1.1,0-2-0.9-2-2S94.9,127,96,127z')
                path(d='M112,133c2.2,0,4-1.8,4-4s-1.8-4-4-4c-2.2,0-4,1.8-4,4S109.8,133,112,133z M112,127c1.1,0,2,0.9,2,2s-0.9,2-2,2\
                c-1.1,0-2-0.9-2-2S110.9,127,112,127z')
                path(d='M128,133c2.2,0,4-1.8,4-4s-1.8-4-4-4c-2.2,0-4,1.8-4,4S125.8,133,128,133z M128,127c1.1,0,2,0.9,2,2s-0.9,2-2,2\
                c-1.1,0-2-0.9-2-2S126.9,127,128,127z')
                path(d='M144,133c2.2,0,4-1.8,4-4s-1.8-4-4-4c-2.2,0-4,1.8-4,4S141.8,133,144,133z M144,127c1.1,0,2,0.9,2,2s-0.9,2-2,2\
                c-1.1,0-2-0.9-2-2S142.9,127,144,127z')
                path(d='M160,133c2.2,0,4-1.8,4-4s-1.8-4-4-4c-2.2,0-4,1.8-4,4S157.8,133,160,133z M160,127c1.1,0,2,0.9,2,2s-0.9,2-2,2\
                c-1.1,0-2-0.9-2-2S158.9,127,160,127z')
                path(d='M176,133c2.2,0,4-1.8,4-4s-1.8-4-4-4c-2.2,0-4,1.8-4,4S173.8,133,176,133z M176,127c1.1,0,2,0.9,2,2s-0.9,2-2,2\
                c-1.1,0-2-0.9-2-2S174.9,127,176,127z')
                path(d='M72,131c-2.2,0-4,1.8-4,4s1.8,4,4,4c2.2,0,4-1.8,4-4S74.2,131,72,131z M72,137c-1.1,0-2-0.9-2-2s0.9-2,2-2c1.1,0,2,0.9,2,2\
                S73.1,137,72,137z')
                path(d='M88,131c-2.2,0-4,1.8-4,4s1.8,4,4,4c2.2,0,4-1.8,4-4S90.2,131,88,131z M88,137c-1.1,0-2-0.9-2-2s0.9-2,2-2c1.1,0,2,0.9,2,2\
                S89.1,137,88,137z')
                path(d='M104,131c-2.2,0-4,1.8-4,4s1.8,4,4,4c2.2,0,4-1.8,4-4S106.2,131,104,131z M104,137c-1.1,0-2-0.9-2-2s0.9-2,2-2\
                c1.1,0,2,0.9,2,2S105.1,137,104,137z')
                path(d='M120,131c-2.2,0-4,1.8-4,4s1.8,4,4,4c2.2,0,4-1.8,4-4S122.2,131,120,131z M120,137c-1.1,0-2-0.9-2-2s0.9-2,2-2\
                c1.1,0,2,0.9,2,2S121.1,137,120,137z')
                path(d='M136,131c-2.2,0-4,1.8-4,4s1.8,4,4,4c2.2,0,4-1.8,4-4S138.2,131,136,131z M136,137c-1.1,0-2-0.9-2-2s0.9-2,2-2\
                c1.1,0,2,0.9,2,2S137.1,137,136,137z')
                path(d='M152,131c-2.2,0-4,1.8-4,4s1.8,4,4,4c2.2,0,4-1.8,4-4S154.2,131,152,131z M152,137c-1.1,0-2-0.9-2-2s0.9-2,2-2\
                c1.1,0,2,0.9,2,2S153.1,137,152,137z')
                path(d='M168,131c-2.2,0-4,1.8-4,4s1.8,4,4,4c2.2,0,4-1.8,4-4S170.2,131,168,131z M168,137c-1.1,0-2-0.9-2-2s0.9-2,2-2\
                c1.1,0,2,0.9,2,2S169.1,137,168,137z')
                path(d='M184,131c-2.2,0-4,1.8-4,4s1.8,4,4,4c2.2,0,4-1.8,4-4S186.2,131,184,131z M184,137c-1.1,0-2-0.9-2-2s0.9-2,2-2\
                c1.1,0,2,0.9,2,2S185.1,137,184,137z')
                path(d='M80,140c-2.2,0-4,1.8-4,4s1.8,4,4,4c2.2,0,4-1.8,4-4S82.2,140,80,140z M80,146c-1.1,0-2-0.9-2-2s0.9-2,2-2c1.1,0,2,0.9,2,2\
                S81.1,146,80,146z')
                circle(cx='72', cy='142', r='2')
                circle(cx='88', cy='142', r='2')
                circle(cx='104', cy='142', r='2')
                circle(cx='120', cy='142', r='2')
                circle(cx='136', cy='142', r='2')
                circle(cx='152', cy='142', r='2')
                circle(cx='168', cy='142', r='2')
                circle(cx='184', cy='142', r='2')
                circle(cx='72', cy='128', r='2')
                circle(cx='88', cy='128', r='2')
                circle(cx='104', cy='128', r='2')
                circle(cx='120', cy='128', r='2')
                circle(cx='136', cy='128', r='2')
                circle(cx='152', cy='128', r='2')
                circle(cx='168', cy='128', r='2')
                circle(cx='184', cy='128', r='2')
                path(d='M96,140c-2.2,0-4,1.8-4,4s1.8,4,4,4c2.2,0,4-1.8,4-4S98.2,140,96,140z M96,146c-1.1,0-2-0.9-2-2s0.9-2,2-2c1.1,0,2,0.9,2,2\
                S97.1,146,96,146z')
                path(d='M112,140c-2.2,0-4,1.8-4,4s1.8,4,4,4c2.2,0,4-1.8,4-4S114.2,140,112,140z M112,146c-1.1,0-2-0.9-2-2s0.9-2,2-2\
                c1.1,0,2,0.9,2,2S113.1,146,112,146z')
                path(d='M128,140c-2.2,0-4,1.8-4,4s1.8,4,4,4c2.2,0,4-1.8,4-4S130.2,140,128,140z M128,146c-1.1,0-2-0.9-2-2s0.9-2,2-2\
                c1.1,0,2,0.9,2,2S129.1,146,128,146z')
                path(d='M144,140c-2.2,0-4,1.8-4,4s1.8,4,4,4c2.2,0,4-1.8,4-4S146.2,140,144,140z M144,146c-1.1,0-2-0.9-2-2s0.9-2,2-2\
                c1.1,0,2,0.9,2,2S145.1,146,144,146z')
                path(d='M160,140c-2.2,0-4,1.8-4,4s1.8,4,4,4c2.2,0,4-1.8,4-4S162.2,140,160,140z M160,146c-1.1,0-2-0.9-2-2s0.9-2,2-2\
                c1.1,0,2,0.9,2,2S161.1,146,160,146z')
                path(d='M176,140c-2.2,0-4,1.8-4,4s1.8,4,4,4c2.2,0,4-1.8,4-4S178.2,140,176,140z M176,146c-1.1,0-2-0.9-2-2s0.9-2,2-2\
                c1.1,0,2,0.9,2,2S177.1,146,176,146z')
                path(d='M116,86c0,0.2,0,0.5,0.1,0.7c0.1,0.5,0.1,1,0.2,1.5c0.2,0.9,0.4,1.7,0.6,2.5c0.5,1.5,1,2.7,1.4,3.5\
                c0.2,0.4,0.4,0.7,0.5,0.9c0.1,0.2,0.2,0.3,0.2,0.3c0.2,0.3,0.6,0.6,1,0.5c0.5-0.1,0.9-0.6,0.8-1.2l0-0.1c0,0-0.1-0.5-0.2-1.3\
                c-0.1-0.8-0.3-2-0.5-3.4c-0.1-0.7-0.2-1.4-0.2-2.2c0-0.4,0-0.8,0-1.1c0-0.2,0-0.4,0-0.7l0-0.2c0,0,0-0.1,0-0.1l0-0.2\
                c0.1-0.6,0.3-1.1,0.7-1.7c0.4-0.6,1-1.2,1.7-2.2c0.3-0.5,0.7-1,1-1.7c0.1-0.3,0.2-0.6,0.3-1c0.1-0.3,0.2-0.7,0.2-1\
                c0-0.2,0.1-0.4,0.1-0.5l0-0.4l0-0.4l0-0.1l0,0l0,0l0-0.1l0-0.2c0-0.5-0.1-1-0.2-1.5c-0.3-2-0.7-3.7-1.1-5.1\
                c-0.4-1.5-0.9-2.6-1.2-3.5c-0.3-0.8-0.5-1.3-0.5-1.3l0,0c-0.2-0.4-0.6-0.6-1-0.6c-0.6,0.1-0.9,0.6-0.9,1.1c0,0,0.1,0.5,0.2,1.3\
                c0.1,0.8,0.2,2.1,0.4,3.5c0.2,1.4,0.3,3.1,0.4,4.8c0,0.4,0,0.9,0,1.3c0,0.1-0.1,1-0.1,1.1c-0.1,0.2-0.2,0.5-0.3,0.8\
                c-0.1,0.3-0.3,0.6-0.5,0.9c-0.5,0.6-1.2,1.4-1.9,2.4c-0.7,1.1-1.1,2.5-1.1,3.7l0,0.5c0,0.1,0,0.1,0,0.3L116,86z')
                path(d='M124,85.8l0,0.2c0,0.2,0,0.5,0.1,0.7c0.1,0.5,0.1,1,0.2,1.5c0.2,0.9,0.4,1.7,0.6,2.5c0.5,1.5,1,2.7,1.4,3.5\
                c0.2,0.4,0.4,0.7,0.5,0.9c0.1,0.2,0.2,0.3,0.2,0.3c0.2,0.3,0.6,0.6,1,0.5c0.5-0.1,0.9-0.6,0.8-1.2l0-0.1c0,0-0.1-0.5-0.2-1.3\
                c-0.1-0.8-0.3-2-0.5-3.4c-0.1-0.7-0.2-1.4-0.2-2.2c0-0.4,0-0.8,0-1.1c0-0.2,0-0.4,0-0.7l0-0.2c0,0,0-0.1,0-0.1l0-0.2\
                c0.1-0.6,0.3-1.1,0.7-1.7c0.4-0.6,1-1.2,1.7-2.2c0.3-0.5,0.7-1,1-1.7c0.1-0.3,0.2-0.6,0.3-1c0.1-0.3,0.2-0.7,0.2-1\
                c0-0.2,0.1-0.4,0.1-0.5l0-0.4l0-0.4l0-0.1l0,0l0,0l0-0.1l0-0.2c0-0.5-0.1-1-0.2-1.5c-0.3-2-0.7-3.7-1.1-5.1\
                c-0.4-1.5-0.9-2.6-1.2-3.5c-0.3-0.8-0.5-1.3-0.5-1.3l0,0c-0.2-0.4-0.6-0.6-1-0.6c-0.6,0.1-0.9,0.6-0.9,1.1c0,0,0.1,0.5,0.2,1.3\
                c0.1,0.8,0.2,2.1,0.4,3.5c0.2,1.4,0.3,3.1,0.4,4.8c0,0.4,0,0.9,0,1.3c0,0.1-0.1,1-0.1,1.1c-0.1,0.2-0.2,0.5-0.3,0.8\
                c-0.1,0.3-0.3,0.6-0.5,0.9c-0.5,0.6-1.2,1.4-1.9,2.4c-0.7,1.1-1.1,2.5-1.1,3.7l0,0.5C124,85.7,124,85.7,124,85.8z')
                path(d='M132,85.8l0,0.2c0,0.2,0,0.5,0.1,0.7c0.1,0.5,0.1,1,0.2,1.5c0.2,0.9,0.4,1.7,0.6,2.5c0.5,1.5,1,2.7,1.4,3.5\
                c0.2,0.4,0.4,0.7,0.5,0.9c0.1,0.2,0.2,0.3,0.2,0.3c0.2,0.3,0.6,0.6,1,0.5c0.5-0.1,0.9-0.6,0.8-1.2l0-0.1c0,0-0.1-0.5-0.2-1.3\
                c-0.1-0.8-0.3-2-0.5-3.4c-0.1-0.7-0.2-1.4-0.2-2.2c0-0.4,0-0.8,0-1.1c0-0.2,0-0.4,0-0.7l0-0.2c0,0,0-0.1,0-0.1l0-0.2\
                c0.1-0.6,0.3-1.1,0.7-1.7c0.4-0.6,1-1.2,1.7-2.2c0.3-0.5,0.7-1,1-1.7c0.1-0.3,0.2-0.6,0.3-1c0.1-0.3,0.2-0.7,0.2-1\
                c0-0.2,0.1-0.4,0.1-0.5l0-0.4l0-0.4l0-0.1l0,0l0,0l0-0.1l0-0.2c0-0.5-0.1-1-0.2-1.5c-0.3-2-0.7-3.7-1.1-5.1\
                c-0.4-1.5-0.9-2.6-1.2-3.5c-0.3-0.8-0.5-1.3-0.5-1.3l0,0c-0.2-0.4-0.6-0.6-1-0.6c-0.6,0.1-0.9,0.6-0.9,1.1c0,0,0.1,0.5,0.2,1.3\
                c0.1,0.8,0.2,2.1,0.4,3.5c0.2,1.4,0.3,3.1,0.4,4.8c0,0.4,0,0.9,0,1.3c0,0.1-0.1,1-0.1,1.1c-0.1,0.2-0.2,0.5-0.3,0.8\
                c-0.1,0.3-0.3,0.6-0.5,0.9c-0.5,0.6-1.2,1.4-1.9,2.4c-0.7,1.1-1.1,2.5-1.1,3.7l0,0.5C132,85.7,132,85.7,132,85.8z')

            span.form__span Decaf


      fieldset.form__fieldset
        legend.form__legend.u-mart-sm 2. Choose Grind
        p.paragraph.paragraph--inverted.u-marbo-sm Let us know how you'd like to recieve your coffee

        //- Wholebean SVG stuff
        p.form__answer
          input(type="radio" name="grind" id="grind_1" class="form__radio--hidden" value="Wholebean" checked)
          label(for="grind_1" class="form__checkbox-label")
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" class="svg--grind")
              title Wholebean Icon
              path(d="M200.6 43.2C190.2 35.7 177.1 32 163 32c-29 0-61.8 14.8-89 41.9 -41.5 41.5-53.8 97.5-29.3 128.6 0.8 1 2 1.5 3.2 1.5 1 0 1.9-0.4 2.7-1.1 0.9-0.8 1.9-1.7 3-2.8 4.7-4.3 11.3-10.4 19.3-17.8 3.9-3.7 8.2-7.7 12.7-11.9 2.3-2.1 4.5-4.3 6.8-6.6 1.1-1.1 2.3-2.3 3.5-3.4 1.2-1.1 2.2-2.3 3.4-3.4 0.6-0.6 1.1-1.2 1.7-1.7 0.6-0.6 1.2-1.2 1.8-1.9 0.6-0.6 1.1-1.2 1.7-1.8 0-0.1 0.1-0.1 0.1-0.2 0.4-0.5 0.9-1.1 1.3-1.6 0.5-0.6 1-1.2 1.5-1.7 0.5-0.6 0.9-1.2 1.4-1.8l1.3-1.7c0.1-0.1 0.1-0.1 0.1-0.2l1.2-1.8c1.7-2.5 3-5.2 4.4-8 1.3-2.9 2.5-5.9 3.8-9.2 2.6-6.6 5.9-14.2 10.8-20.9 0.6-0.8 1.2-1.7 1.8-2.5 0.8-1.1 2-2.3 2.8-3.4 0.2-0.2 0.4-0.4 0.5-0.6 0.9-0.9 1.8-1.8 2.7-2.7 0.6-0.6 1.2-1.2 1.9-1.9l0.1-0.1c0.2-0.2 0.3-0.3 0.3-0.3 0 0 0 0 0 0 0 0 0 0 0 0l0.1-0.1 0.3-0.2 0.5-0.5 1-0.9c1.4-1.2 2.7-2.4 4-3.5 2.7-2.3 5.4-4.4 8-6.5 2.6-2 5.2-4 7.8-5.9 5-3.8 9.9-7.2 14.5-10.3 4.5-3.1 8.7-5.8 12.5-8.2 3.8-2.4 7-4.4 9.8-6.1 0.5-0.3 1-0.6 1.4-0.8C202.9 48.4 203 44.9 200.6 43.2zM184.9 50C184.9 50.1 184.8 50.1 184.9 50l-2.1 1.4c-3.2 2.1-6.8 4.4-10.6 7l-0.4 0.3c-4.4 3-9.3 6.4-14.3 10.2 -2.6 1.9-5.1 3.9-7.9 6 0 0-0.1 0.1-0.1 0.1l-0.6 0.5c-2.4 1.9-5 4-7.5 6.1 -1.3 1.1-2.5 2.2-3.7 3.2l-0.5 0.5 -1 0.9 -0.5 0.4 -0.1 0.1 0 0c-0.1 0.1-0.2 0.2-0.3 0.3 -0.3 0.2-0.5 0.4-0.6 0.6l-0.1 0.1 -0.7 0.8c-0.4 0.4-0.7 0.7-1.1 1.1 -0.3 0.3-0.7 0.7-1 1 -0.6 0.6-1.1 1.1-1.6 1.6 -0.2 0.2-0.4 0.4-0.6 0.7l-0.2 0.2 -0.4 0.4c-0.2 0.2-0.3 0.4-0.4 0.6 -0.1 0.2-0.6 0.7-0.9 1 -0.6 0.6-1.2 1.4-1.8 2.2l-1.4 1.8 -0.4 0.6c-5.4 7.3-8.8 15.2-11.8 22.7 0 0 0 0.1 0 0.1 -1.3 3.3-2.5 6.2-3.6 8.8 -1.3 2.8-2.5 5-3.8 7 0 0 0 0 0 0.1l-1.1 1.7 -1.2 1.6c-0.2 0.3-0.4 0.5-0.6 0.8 -0.2 0.3-0.4 0.5-0.5 0.7l-1.2 1.3 -0.3 0.3c0 0 0 0 0 0l-1 1.2 -0.2 0.3L97 148l-1.7 1.8 0 0 -0.4 0.4 -1.3 1.3c-0.5 0.5-1 1-1.5 1.5 -0.6 0.6-1.2 1.3-1.8 1.8 0 0 0 0 0 0l-2.7 2.6 -0.7 0.7c-0.6 0.6-1.2 1.1-1.7 1.7 -1.7 1.7-3.3 3.2-5 4.8l-9.2 8.6 -3.5 3.3 -19 17.5C30 165.4 43.1 116.2 79.7 79.6 104.4 54.9 136 40 163 40c10.3 0 19.8 2.3 27.7 6.4C188.9 47.5 187 48.7 184.9 50z")
              path(d="M211 58.9L211 58.9 211 58.9M207.7 62c18.5 28.7 5.4 77.9-31.2 114.4 -24.7 24.7-55.9 39.5-83.4 39.5 -10.4 0-19.9-2.2-27.8-6.4 7.2-4.5 16-10 18.7-11.9l1.1-0.7c4.1-2.9 8.8-6.1 13.6-9.7 2-1.5 4-3 6-4.5l1.9-1.4c0 0 0.1-0.1 0.1-0.1l0.8-0.7c2.4-1.9 4.8-3.9 7.4-6.1l0.9-0.8 1.1-1c0 0 0.1-0.1 0.1-0.1l0.9-0.8 1-0.9 0.9-0.8 1-0.9 0 0 0 0c0.1-0.1 0.2-0.2 0.3-0.3l0.1-0.1 0.3-0.3 0.5-0.5c0.1-0.1 0.1-0.1 0.2-0.2l1-1c0.4-0.4 0.8-0.8 1.2-1.2 0.3-0.3 0.6-0.6 0.9-0.9 0 0 0.1-0.1 0.1-0.1 0.6-0.6 1.1-1.2 1.6-1.8 0.4-0.5 0.8-0.9 1.1-1.2 0.1-0.1 0.3-0.3 0.4-0.4l0.4-0.5c0.2-0.2 0.3-0.4 0.4-0.6l2.4-3.3c1.2-1.6 2.2-3.1 3.1-4.6 0.2-0.3 0.4-0.7 0.6-1 0.6-0.9 1-1.7 1.4-2.4 0.1-0.2 0.2-0.5 0.4-0.7 0-0.1 0.1-0.1 0.1-0.2 0.1-0.3 0.3-0.5 0.4-0.8 0.3-0.6 0.7-1.3 1.1-2.1 1.9-3.7 3.4-7.4 4.7-10.6l0.1-0.3c0 0 0-0.1 0-0.1 2.5-6.2 4.6-11.6 7.4-16l1.2-1.9c0 0 0.1-0.1 0.1-0.1 0-0.1 0.2-0.3 0.3-0.5 0.2-0.3 0.4-0.6 0.6-0.8l1-1.4 0 0 1.8-2 1.4-1.6 0.4-0.4 0.8-0.9 0.5-0.6c0.9-1 1.8-1.9 2.7-2.8 0 0 0.1-0.1 0.1-0.1 4.3-4.4 8.7-8.6 13.5-13.2l5.9-5.6 0.6-0.6c0 0 0 0 0.1 0 1.3-1.3 2.7-2.5 4-3.7 0.7-0.7 1.4-1.3 2.1-2l10.9-10L207.7 62M208.3 52c-1 0-2 0.4-2.7 1.1 -0.9 0.8-1.9 1.7-3 2.8 -2.3 2.2-5.2 4.8-8.4 7.8 -3.2 3-6.9 6.4-10.9 10 -2 1.8-4.1 3.7-6.2 5.8 -2.1 2-4.3 4-6.6 6.1 -4.5 4.2-9.1 8.7-13.7 13.4 -1.2 1.2-2.3 2.4-3.4 3.6l-0.8 0.9 -0.4 0.5 -0.2 0.2 -0.1 0.1c0 0 0 0 0 0l-0.1 0.1c0 0 0-0.1 0.2-0.2l-0.1 0.1c-1.1 1.3-2.2 2.5-3.3 3.8 -0.1 0.1-0.2 0.2-0.2 0.3l-1.1 1.6c-0.4 0.6-0.8 1.1-1.2 1.7l-1.2 1.9c-3.2 5-5.5 10.7-8.1 17.4 -1.4 3.3-2.8 6.9-4.6 10.5 -0.4 0.9-1 1.8-1.4 2.7 -0.5 0.9-0.9 1.8-1.5 2.7 -1.1 1.7-2.2 3.5-3.4 5.1 -0.8 1.1-1.7 2.2-2.5 3.3 -0.1 0.2-0.3 0.3-0.4 0.5 -1 1-1.9 2.2-2.9 3.2 -0.7 0.7-1.4 1.4-2.1 2.1l-1 1 -0.5 0.5 -0.3 0.3 -0.2 0.2 -0.1 0.1 -0.1 0.1c-0.7 0.6-1.3 1.2-1.9 1.7 -0.6 0.6-1.3 1.1-1.9 1.7 -0.7 0.6-1.4 1.2-2 1.7 -2.8 2.4-5.4 4.5-8 6.6 -2.7 2-5.2 4-7.8 5.9 -5 3.8-9.9 7.2-14.5 10.3 -3.5 2.4-17.7 11.3-24.7 15.7 -2.1 1.3-0.7 5.2 1.1 6.4 10.4 7.3 23.3 10.9 37.3 10.9 28.5 0 61.9-14.6 89.1-41.8 41.5-41.5 53.8-97.5 29.3-128.6C210.7 52.6 209.5 52 208.3 52L208.3 52z")
            span.form__span Wholebean

        //- Espresso SVG stuff
        p.form__answer
          input(type="radio" name="grind" id="grind_2" class="form__radio--hidden" value="Espresso")
          label(for="grind_2" class="form__checkbox-label")
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" class="svg--grind")
              title Espresso Icon
              path(d="M240 88V48c0-17.7-14.3-32-32-32H48c-17.7 0-32 14.3-32 32v40c0 17.7 14.3 32 32 32h8.5c0 0.3 0 0.6 0.1 1l23.3 95H24c-4.4 0-8 3.6-8 8v12c0 2.2 1.8 4 4 4h216c2.2 0 4-1.8 4-4v-12c0-4.4-3.6-8-8-8h-55.9l23.8-95c0.1-0.3 0.1-0.6 0.1-1h8C225.7 120 240 105.7 240 88zM24 88V48c0-13.2 10.8-24 24-24h160c13.2 0 24 10.8 24 24v40c0 13.2-10.8 24-24 24h-46H94 48C34.8 112 24 101.2 24 88zM144 141.4l-10 0.6c-3.3 0-6 2.7-6 6s2.7 6 6 6l10 0.6v5.4h-32v-24h32V141.4zM170 144c0.7 0.3 2 2.4 2 4s-1.3 3.7-2 4l-35.7-2 -0.1 0H134c-1.1 0-2-0.9-2-2 0-1.1 0.9-2 2-2h0.1l0.1 0L170 144zM144 128h-32H98v-8h60v8H144zM232 232H24v-8h208V232zM168.1 215c-0.1 0.3-0.1 0.6-0.1 1H88c0-0.3 0-0.6-0.1-1l-23.3-95H90v12c0 2.2 1.8 4 4 4h10v24c0 4.4 3.6 8 8 8h32c4.4 0 8-3.6 8-8v-5l18 1c3.3 0 6-4.7 6-8s-2.7-8-6-8l-18 1v-5h10c2.2 0 4-1.8 4-4v-12h25.9L168.1 215z")
              path(d="M128 104c17.7 0 32-14.3 32-32 0-17.7-14.3-32-32-32 -17.7 0-32 14.3-32 32C96 89.7 110.3 104 128 104zM128 48c13.2 0 24 10.8 24 24s-10.8 24-24 24 -24-10.8-24-24S114.8 48 128 48z")
              path(d="M128 63c1.1 0 2-0.9 2-2v-4c0-1.1-0.9-2-2-2s-2 0.9-2 2v4C126 62.1 126.9 63 128 63z")
              path(d="M137 72c0 1.1 0.9 2 2 2h4c1.1 0 2-0.9 2-2s-0.9-2-2-2h-4C137.9 70 137 70.9 137 72z")
              path(d="M113 74h4c1.1 0 2-0.9 2-2s-0.9-2-2-2h-4c-1.1 0-2 0.9-2 2S111.9 74 113 74z")
              path(d="M118.6 65.5c0.4 0.4 0.9 0.6 1.4 0.6s1-0.2 1.4-0.6c0.8-0.8 0.8-2 0-2.8l-2.8-2.8c-0.8-0.8-2-0.8-2.8 0 -0.8 0.8-0.8 2 0 2.8L118.6 65.5z")
              path(d="M137.4 78.5c-0.8-0.8-2-0.8-2.8 0 -0.8 0.8-0.8 2 0 2.8l2.8 2.8c0.4 0.4 0.9 0.6 1.4 0.6s1-0.2 1.4-0.6c0.8-0.8 0.8-2 0-2.8L137.4 78.5z")
              path(d="M118.6 78.5l-2.8 2.8c-0.8 0.8-0.8 2 0 2.8 0.4 0.4 0.9 0.6 1.4 0.6s1-0.2 1.4-0.6l2.8-2.8c0.8-0.8 0.8-2 0-2.8C120.7 77.8 119.4 77.8 118.6 78.5z")
              path(d="M128 76c2.2 0 4-1.8 4-4 0-0.4-0.1-0.7-0.1-1l8.3-8.3c0.8-0.8 0.8-2 0-2.8 -0.8-0.8-2-0.8-2.8 0l-8.3 8.3c-0.3-0.1-0.7-0.1-1-0.1 -2.2 0-4 1.8-4 4C124 74.2 125.8 76 128 76z")
              path(d="M180 80h8c2.2 0 4-1.8 4-4v-8c0-2.2-1.8-4-4-4h-8c-2.2 0-4 1.8-4 4v8C176 78.2 177.8 80 180 80zM180 72h8v4h-8V72z")
              path(d="M204 80h8c2.2 0 4-1.8 4-4v-8c0-2.2-1.8-4-4-4h-8c-2.2 0-4 1.8-4 4v8C200 78.2 201.8 80 204 80zM204 68h8v4h-8V68z")
              path(d="M128 176c0 0-8 7.6-8 12s3.6 8 8 8 8-3.6 8-8S128 176 128 176z")
            span.form__span Espresso

        //- Filter SVG stuff
        p.form__answer
          input(type="radio" name="grind" id="grind_3" class="form__radio--hidden" value="Filter")
          label(for="grind_3" class="form__checkbox-label")
            svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 256 256' class="svg--grind")
              title Filter Icon
              path(d='M216 104c0-8.8-7.2-16-16-16 -3.7 0-7.2 1.3-9.9 3.5 9.6 4.4 18.4 9.2 25.9 13.7C216 104.8 216 104.4 216 104z')
              path(d='M238.5 125.5c-0.4-0.3-0.8-0.6-1.3-1 -0.9-0.7-2-1.5-3.2-2.4 -0.6-0.4-1.2-0.9-1.9-1.4C213.6 107.3 170.2 80 128.1 80h0c0 0 0 0-0.1 0 -39.3 0-85.3 23.9-105.2 38 -7.5 5.3-9 17.4-3.4 23l77.4 93.2c1.5 1.8 3.7 2.8 6.1 2.8h50.5c1.2 0 2.4-0.6 3.1-1.5l82.6-104.4C240.5 129.4 240.2 126.9 238.5 125.5zM102.9 229l-77.3-93.1c-0.2-0.2-0.3-0.4-0.5-0.5 -0.8-0.8-1.2-2.5-1-4.4 0.2-2.7 1.5-5.1 3.4-6.4C48.2 109.9 92.1 88 128 88h0.1c19.3 0 41.2 6.1 65 18.2 17.4 8.8 31 18.5 37.3 23.1L151.5 229 102.9 229z')
              path(d='M125.1 216h-0.3c-0.3 0-0.6 0.1-0.7 0.4l-4.1 6.2c-0.4 0.6 0 1.4 0.7 1.4h0.3c0.3 0 0.6-0.1 0.7-0.4l4.1-6.2C126.2 216.8 125.8 216 125.1 216z')
              path(d='M130.1 216h-0.3c-0.3 0-0.6 0.1-0.7 0.4l-4.1 6.2c-0.4 0.6 0 1.4 0.7 1.4h0.3c0.3 0 0.6-0.1 0.7-0.4l4.1-6.2C131.2 216.8 130.8 216 130.1 216z')
              path(d='M135.1 216h-0.3c-0.3 0-0.6 0.1-0.7 0.4l-4.1 6.2c-0.4 0.6 0 1.4 0.7 1.4h0.3c0.3 0 0.6-0.1 0.7-0.4l4.1-6.2C136.2 216.8 135.8 216 135.1 216z')
              path(d='M140.1 216h-0.3c-0.3 0-0.6 0.1-0.7 0.4l-4.1 6.2c-0.4 0.6 0 1.4 0.7 1.4h0.3c0.3 0 0.6-0.1 0.7-0.4l4.1-6.2C141.2 216.8 140.8 216 140.1 216z')
              path(d='M107.3 214l-0.2-0.2c-0.4-0.5-1.1-0.4-1.4 0.1l-3.7 5.6c-0.2 0.3-0.2 0.8 0.1 1.1l0.2 0.2c0.4 0.5 1.1 0.4 1.4-0.1l3.7-5.6C107.6 214.7 107.6 214.3 107.3 214z')
              path(d='M115.1 216h-0.3c-0.3 0-0.6 0.1-0.7 0.4l-4.1 6.2c-0.4 0.6 0 1.4 0.7 1.4h0.3c0.3 0 0.6-0.1 0.7-0.4l4.1-6.2C116.2 216.8 115.8 216 115.1 216z')
              path(d='M110.1 216h-0.3c-0.3 0-0.6 0.1-0.7 0.4l-4.1 6.2c-0.4 0.6 0 1.4 0.7 1.4h0.3c0.3 0 0.6-0.1 0.7-0.4l4.1-6.2C111.2 216.8 110.8 216 110.1 216z')
              path(d='M120.1 216h-0.3c-0.3 0-0.6 0.1-0.7 0.4l-4.1 6.2c-0.4 0.6 0 1.4 0.7 1.4h0.3c0.3 0 0.6-0.1 0.7-0.4l4.1-6.2C121.2 216.8 120.8 216 120.1 216z')
              path(d='M145.1 216h-0.3c-0.3 0-0.6 0.1-0.7 0.4l-4.1 6.2c-0.4 0.6 0 1.4 0.7 1.4h0.3c0.3 0 0.6-0.1 0.7-0.4l4.1-6.2C146.2 216.8 145.8 216 145.1 216z')
              path(d='M104.5 210.7l-0.2-0.2c-0.4-0.5-1.1-0.4-1.4 0.1l-3.7 5.6c-0.2 0.3-0.2 0.8 0.1 1.1l0.2 0.2c0.4 0.5 1.1 0.4 1.4-0.1l3.7-5.6C104.8 211.4 104.8 211 104.5 210.7z')
              path(d='M85 187.2l-0.2-0.2c-0.4-0.5-1.1-0.4-1.4 0.1l-3.7 5.6c-0.2 0.3-0.2 0.8 0.1 1.1l0.2 0.2c0.4 0.5 1.1 0.4 1.4-0.1l3.7-5.6C85.3 187.9 85.3 187.5 85 187.2z')
              path(d='M87.8 190.5l-0.2-0.2c-0.4-0.5-1.1-0.4-1.4 0.1l-3.7 5.6c-0.2 0.3-0.2 0.8 0.1 1.1l0.2 0.2c0.4 0.5 1.1 0.4 1.4-0.1l3.7-5.6C88.1 191.3 88.1 190.8 87.8 190.5z')
              path(d='M90.6 193.9l-0.2-0.2c-0.4-0.5-1.1-0.4-1.4 0.1l-3.7 5.6c-0.2 0.3-0.2 0.8 0.1 1.1l0.2 0.2c0.4 0.5 1.1 0.4 1.4-0.1l3.7-5.6C90.9 194.6 90.9 194.2 90.6 193.9z')
              path(d='M93.4 197.2l-0.2-0.2c-0.4-0.5-1.1-0.4-1.4 0.1l-3.7 5.6c-0.2 0.3-0.2 0.8 0.1 1.1l0.2 0.2c0.4 0.5 1.1 0.4 1.4-0.1l3.7-5.6C93.7 198 93.6 197.5 93.4 197.2z')
              path(d='M73.9 173.8l-0.2-0.2c-0.4-0.5-1.1-0.4-1.4 0.1l-3.7 5.6c-0.2 0.3-0.2 0.8 0.1 1.1l0.2 0.2c0.4 0.5 1.1 0.4 1.4-0.1l3.7-5.6C74.2 174.5 74.1 174.1 73.9 173.8z')
              path(d='M76.7 177.1l-0.2-0.2c-0.4-0.5-1.1-0.4-1.4 0.1l-3.7 5.6c-0.2 0.3-0.2 0.8 0.1 1.1l0.2 0.2c0.4 0.5 1.1 0.4 1.4-0.1l3.7-5.6C76.9 177.8 76.9 177.4 76.7 177.1z')
              path(d='M79.5 180.5l-0.2-0.2c-0.4-0.5-1.1-0.4-1.4 0.1l-3.7 5.6c-0.2 0.3-0.2 0.8 0.1 1.1l0.2 0.2c0.4 0.5 1.1 0.4 1.4-0.1l3.7-5.6C79.7 181.2 79.7 180.8 79.5 180.5z')
              path(d='M82.2 183.8l-0.2-0.2c-0.4-0.5-1.1-0.4-1.4 0.1l-3.7 5.6c-0.2 0.3-0.2 0.8 0.1 1.1l0.2 0.2c0.4 0.5 1.1 0.4 1.4-0.1l3.7-5.6C82.5 184.5 82.5 184.1 82.2 183.8z')
              path(d='M96.2 200.6l-0.2-0.2c-0.4-0.5-1.1-0.4-1.4 0.1l-3.7 5.6c-0.2 0.3-0.2 0.8 0.1 1.1l0.2 0.2c0.4 0.5 1.1 0.4 1.4-0.1l3.7-5.6C96.4 201.3 96.4 200.9 96.2 200.6z')
              path(d='M99 203.9l-0.2-0.2c-0.4-0.5-1.1-0.4-1.4 0.1l-3.7 5.6c-0.2 0.3-0.2 0.8 0.1 1.1l0.2 0.2c0.4 0.5 1.1 0.4 1.4-0.1L99 205C99.2 204.7 99.2 204.2 99 203.9z')
              path(d='M101.7 207.3l-0.2-0.2c-0.4-0.5-1.1-0.4-1.4 0.1l-3.7 5.6c-0.2 0.3-0.2 0.8 0.1 1.1l0.2 0.2c0.4 0.5 1.1 0.4 1.4-0.1l3.7-5.6C102 208 102 207.6 101.7 207.3z')
              path(d='M71.1 170.4l-0.2-0.2c-0.4-0.5-1.1-0.4-1.4 0.1l-3.7 5.6c-0.2 0.3-0.2 0.8 0.1 1.1l0.2 0.2c0.4 0.5 1.1 0.4 1.4-0.1l3.7-5.6C71.4 171.1 71.4 170.7 71.1 170.4z')
              path(d='M65.5 163.7l-0.2-0.2c-0.4-0.5-1.1-0.4-1.4 0.1l-3.7 5.6c-0.2 0.3-0.2 0.8 0.1 1.1l0.2 0.2c0.4 0.5 1.1 0.4 1.4-0.1l3.7-5.6C65.8 164.4 65.8 164 65.5 163.7z')
              path(d='M68.3 167l-0.2-0.2c-0.4-0.5-1.1-0.4-1.4 0.1l-3.7 5.6c-0.2 0.3-0.2 0.8 0.1 1.1l0.2 0.2c0.4 0.5 1.1 0.4 1.4-0.1l3.7-5.6C68.6 167.8 68.6 167.3 68.3 167z')
              path(d='M62.7 160.3l-0.2-0.2c-0.4-0.5-1.1-0.4-1.4 0.1l-3.7 5.6c-0.2 0.3-0.2 0.8 0.1 1.1l0.2 0.2c0.4 0.5 1.1 0.4 1.4-0.1l3.7-5.6C63 161.1 63 160.6 62.7 160.3z')
              path(d='M43.2 136.9l-0.2-0.2c-0.4-0.5-1.1-0.4-1.4 0.1l-3.7 5.6c-0.2 0.3-0.2 0.8 0.1 1.1l0.2 0.2c0.4 0.5 1.1 0.4 1.4-0.1l3.7-5.6C43.5 137.6 43.5 137.2 43.2 136.9z')
              path(d='M46 140.2l-0.2-0.2c-0.4-0.5-1.1-0.4-1.4 0.1l-3.7 5.6c-0.2 0.3-0.2 0.8 0.1 1.1l0.2 0.2c0.4 0.5 1.1 0.4 1.4-0.1l3.7-5.6C46.3 140.9 46.3 140.5 46 140.2z')
              path(d='M48.8 143.6l-0.2-0.2c-0.4-0.5-1.1-0.4-1.4 0.1l-3.7 5.6c-0.2 0.3-0.2 0.8 0.1 1.1l0.2 0.2c0.4 0.5 1.1 0.4 1.4-0.1l3.7-5.6C49.1 144.3 49.1 143.9 48.8 143.6z')
              path(d='M51.6 146.9l-0.2-0.2c-0.4-0.5-1.1-0.4-1.4 0.1l-3.7 5.6c-0.2 0.3-0.2 0.8 0.1 1.1l0.2 0.2c0.4 0.5 1.1 0.4 1.4-0.1l3.7-5.6C51.9 147.6 51.9 147.2 51.6 146.9z')
              path(d='M40.5 133.5l-0.2-0.2c-0.4-0.5-1.1-0.4-1.4 0.1l-3.7 5.6c-0.2 0.3-0.2 0.8 0.1 1.1l0.2 0.2c0.4 0.5 1.1 0.4 1.4-0.1l3.7-5.6C40.7 134.2 40.7 133.8 40.5 133.5z')
              path(d='M54.4 150.3l-0.2-0.2c-0.4-0.5-1.1-0.4-1.4 0.1l-3.7 5.6c-0.2 0.3-0.2 0.8 0.1 1.1l0.2 0.2c0.4 0.5 1.1 0.4 1.4-0.1l3.7-5.6C54.7 151 54.6 150.6 54.4 150.3z')
              path(d='M57.2 153.6l-0.2-0.2c-0.4-0.5-1.1-0.4-1.4 0.1l-3.7 5.6c-0.2 0.3-0.2 0.8 0.1 1.1l0.2 0.2c0.4 0.5 1.1 0.4 1.4-0.1l3.7-5.6C57.4 154.4 57.4 153.9 57.2 153.6z')
              path(d='M60 157l-0.2-0.2c-0.4-0.5-1.1-0.4-1.4 0.1l-3.7 5.6c-0.2 0.3-0.2 0.8 0.1 1.1l0.2 0.2c0.4 0.5 1.1 0.4 1.4-0.1L60 158C60.2 157.7 60.2 157.3 60 157z')
              path(d='M150.1 216h-0.3c-0.3 0-0.6 0.1-0.7 0.4l-4.1 6.2c-0.4 0.6 0 1.4 0.7 1.4h0.3c0.3 0 0.6-0.1 0.7-0.4l4.1-6.2C151.2 216.8 150.8 216 150.1 216z')
              path(d='M37.6 130.2l-0.2-0.2c-0.4-0.5-1.1-0.4-1.4 0.1l-3.7 5.6c-0.2 0.3-0.2 0.8 0.1 1.1l0.2 0.2c0.4 0.5 1.1 0.4 1.4-0.1l3.7-5.6C37.9 131 37.9 130.5 37.6 130.2z')
            span.form__span Filter
        
        //- Caffetiere SVG stuff
        p.form__answer
          input(type="radio" name="grind" id="grind_4" class="form__radio--hidden" value="Caffetiere")
          label(for="grind_4" class="form__checkbox-label")
            svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 256 256' class="svg--grind")
              title Caffetiere Icon
              path(d='M128 32c4.4 0 8-3.6 8-8s-3.6-8-8-8 -8 3.6-8 8S123.6 32 128 32zM128 20c2.2 0 4 1.8 4 4 0 2.2-1.8 4-4 4s-4-1.8-4-4C124 21.8 125.8 20 128 20z')
              path(d='M84 96h88c2.2 0 4-1.8 4-4v0c0-26.3-32.5-31-44-31.8V35.3c-1.3 0.4-2.6 0.7-4 0.7s-2.7-0.3-4-0.7v25c-11.5 1.1-44 6.6-44 31.7v0C80 94.2 81.8 96 84 96zM106.3 72.2c10.1-3.6 20.5-4.2 21.8-4.2 1.3 0 11.6 0.3 21.6 3.7 13.5 4.6 17 11.6 17.9 16.3H88.4C89.4 83.5 93 76.9 106.3 72.2z')
              path(d='M187.6 98H84.5c-2.5 0-4.5 2-4.5 4.5v11.1c0 2.5 2 4.5 4.5 4.5h89.8c0 0 0 0 0.1 0 0.6 0 1.2-0.2 1.7-0.8l13.3-14.7C190.8 100.8 189.7 98 187.6 98z')
              path(d='M172 120H88h-3.4H84c-0.1 0-0.1 0-0.2 0C70.6 120.4 60 131.3 60 144.6v46.8c0 12 8.6 22 20 24.2v8.4c0 4.4 3.6 8 8 8v3.2c0 4.2 5.6 6.4 8.8 3.4l7.2-6.6h48l7.2 6.6c3.3 3 8.8 0.9 8.8-3.4V232c4.4 0 8-3.6 8-8V124C176 121.8 174.2 120 172 120zM68 191.4v-46.8c0-7.6 5.1-13.9 12-15.9v78.7C73.1 205.4 68 199 68 191.4zM168 224H88v-8 -88h36v22.9l-9.8-2.5c-1.3-0.3-2.6-0.3-3.9 0l-8.2 2c-3.6 0.9-6.1 4.1-6.1 7.8V212c0 2.2 1.8 4 4 4h56c2.2 0 4-1.8 4-4v-49.7c0-5.2-4.9-9-10-7.8l-4 1c-1.3 0.3-2.6 0.3-3.9 0L132 153v-25h36V224z')
            span.form__span Caffetiere

      fieldset.form__fieldset
        legend.form__legend.u-mart-sm 3. Choose Size
        p.paragraph.paragraph--inverted.u-marbo-sm Regular sized bags are great for one or two people, and the 1kg option is perfect for offices 

        p.form__answer
          input(type="radio" name="size" id="size_1" class="form__radio--hidden" value="Regular" checked)
          label(for="size_1" class="form__checkbox-label")
            svg(viewbox='-55 1.4 336.8 449.8' xmlns='http://www.w3.org/2000/svg' class="svg--grind")
              title Small bag icon                  
              path.svg__bag--blue(d='M52.6 14.5v66.8L33.4 95.2v288.3c0 0 16.7 16.7 15.8 53.6l-76.1-3.5 -15.2-66.2 7.9-281.1 7.3-71.7h79.5V14.5z')
              path(d='M281.5 122.8l-6.7-32.4V15.4c0-7.8-6.3-14.1-14.1-14.1H-33.9c-7.8 0-14.1 6.3-14.1 14.1v75l-6.7 32.4c-0.2 0.9-0.3 1.9-0.3 2.9v247.3c0 1.2 0.2 2.4 0.4 3.5l6.6 25.5v35.1c0 7.8 6.3 14.1 14.1 14.1H260.7c7.8 0 14.1-6.3 14.1-14.1v-35.1l6.6-25.5c0.3-1.1 0.4-2.3 0.4-3.5V125.7C281.8 124.7 281.7 123.8 281.5 122.8zM246.7 29.5v38l-1.3-0.8c-4.5-2.8-10.3-2.8-14.8 0l-15.3 9.5 -15.3-9.5c-4.5-2.8-10.3-2.8-14.8 0l-15.3 9.5 -15.3-9.5c-4.5-2.8-10.3-2.8-14.8 0l-15.2 9.5 -15.3-9.5c-4.5-2.8-10.3-2.8-14.8 0l-15.3 9.5L64.1 66.7c-4.5-2.8-10.3-2.8-14.8 0l-15.2 9.5L18.8 66.7c-4.5-2.8-10.3-2.8-14.8 0l-15.2 9.5 -8.6-5.3V29.5H246.7zM253.7 371.2l-6.6 25.5c-0.3 1.1-0.4 2.3-0.4 3.5v22.8H-19.9v-22.8c0-1.2-0.2-2.4-0.4-3.5l-6.6-25.5V127.1l5.1-24.4 3.1 1.9c4.5 2.8 10.3 2.8 14.8 0l15.2-9.5 15.2 9.5c4.5 2.8 10.3 2.8 14.8 0l15.2-9.5 15.2 9.5c4.5 2.8 10.3 2.8 14.8 0l15.3-9.5 15.3 9.5c4.5 2.8 10.3 2.8 14.8 0l15.2-9.5 15.3 9.5c4.5 2.8 10.3 2.8 14.8 0l15.3-9.5 15.3 9.5c4.5 2.8 10.3 2.8 14.8 0l15.3-9.5 10.4 6.4 5.3 25.5L253.7 371.2 253.7 371.2z')
              path(d='M127.5 173.9c-0.1 0-0.1 0-0.2 0 -17.3 0.1-35.3 8.3-49.4 22.6 -24.9 25.2-29.3 61.5-9.7 81 8 8 18.8 12.2 31.1 12.2 0.1 0 0.1 0 0.2 0 17.3-0.1 35.3-8.3 49.4-22.6 24.9-25.2 29.3-61.5 9.7-81C150.6 178.1 139.9 173.9 127.5 173.9zM92.9 211.3c10.1-10.2 22.9-16.3 34.5-16.3 0 0 0.1 0 0.1 0 2.3 0 5.1 0.3 7.9 1.1 -1.1 5.3-4.9 14.7-17.3 22.5 -4.9 3.1-9.2 5.4-12.9 7.5 -12.5 6.9-20.7 12.1-27.7 24.9C75.4 239.1 80.9 223.4 92.9 211.3zM133.9 252.2c-10.1 10.2-22.9 16.3-34.5 16.3 -2 0-4.3-0.2-6.6-0.8 5.4-13.7 10.5-16.5 22.5-23.2 4-2.2 8.6-4.8 13.9-8.1 10-6.3 16.4-13.5 20.5-20.3C150.2 227.5 144.7 241.3 133.9 252.2z')
              path(d='M225.9 379.1h-3.5c-5.8 0-10.5 4.7-10.5 10.5s4.7 10.5 10.5 10.5h3.5c5.8 0 10.5-4.7 10.5-10.5S231.7 379.1 225.9 379.1z')
              path(d='M79.6 379.1h-7.5c-5.8 0-10.5 4.7-10.5 10.5s4.7 10.5 10.5 10.5h7.5c5.8 0 10.5-4.7 10.5-10.5S85.4 379.1 79.6 379.1z')
              path(d='M42 379.1h-7.5c-5.8 0-10.5 4.7-10.5 10.5s4.7 10.5 10.5 10.5h7.5c5.8 0 10.5-4.7 10.5-10.5S47.8 379.1 42 379.1z')
              path(d='M192.3 379.1h-7.5c-5.8 0-10.5 4.7-10.5 10.5s4.7 10.5 10.5 10.5h7.5c5.8 0 10.5-4.7 10.5-10.5S198.1 379.1 192.3 379.1z')
              path(d='M117.2 379.1h-7.5c-5.8 0-10.5 4.7-10.5 10.5s4.7 10.5 10.5 10.5h7.5c5.8 0 10.5-4.7 10.5-10.5S123 379.1 117.2 379.1z')
              path(d='M154.7 379.1h-7.5c-5.8 0-10.5 4.7-10.5 10.5s4.7 10.5 10.5 10.5h7.5c5.8 0 10.5-4.7 10.5-10.5S160.5 379.1 154.7 379.1z')
              path(d='M4.5 379.1H0.9c-5.8 0-10.5 4.7-10.5 10.5s4.7 10.5 10.5 10.5h3.5c5.8 0 10.5-4.7 10.5-10.5S10.3 379.1 4.5 379.1z')
            span.form__span 250g

        p.form__answer
          input(type="radio" name="size" id="size_2" class="form__radio--hidden" value="Large")
          label(for="size_2" class="form__checkbox-label")
            svg(viewbox='-55 1.4 336.8 449.8' xmlns='http://www.w3.org/2000/svg' class="svg--grind")
              title Large bag icon
              path.svg__bag--gold(d='M52.6 14.5v66.8L33.4 95.2v288.3c0 0 16.7 16.7 15.8 53.6l-76.1-3.5 -15.2-66.2 7.9-281.1 7.3-71.7h79.5V14.5z')
              path(d='M281.5 122.8l-6.7-32.4V15.4c0-7.8-6.3-14.1-14.1-14.1H-33.9c-7.8 0-14.1 6.3-14.1 14.1v75l-6.7 32.4c-0.2 0.9-0.3 1.9-0.3 2.9v247.3c0 1.2 0.2 2.4 0.4 3.5l6.6 25.5v35.1c0 7.8 6.3 14.1 14.1 14.1H260.7c7.8 0 14.1-6.3 14.1-14.1v-35.1l6.6-25.5c0.3-1.1 0.4-2.3 0.4-3.5V125.7C281.8 124.7 281.7 123.8 281.5 122.8zM246.7 29.5v38l-1.3-0.8c-4.5-2.8-10.3-2.8-14.8 0l-15.3 9.5 -15.3-9.5c-4.5-2.8-10.3-2.8-14.8 0l-15.3 9.5 -15.3-9.5c-4.5-2.8-10.3-2.8-14.8 0l-15.2 9.5 -15.3-9.5c-4.5-2.8-10.3-2.8-14.8 0l-15.3 9.5L64.1 66.7c-4.5-2.8-10.3-2.8-14.8 0l-15.2 9.5L18.8 66.7c-4.5-2.8-10.3-2.8-14.8 0l-15.2 9.5 -8.6-5.3V29.5H246.7zM253.7 371.2l-6.6 25.5c-0.3 1.1-0.4 2.3-0.4 3.5v22.8H-19.9v-22.8c0-1.2-0.2-2.4-0.4-3.5l-6.6-25.5V127.1l5.1-24.4 3.1 1.9c4.5 2.8 10.3 2.8 14.8 0l15.2-9.5 15.2 9.5c4.5 2.8 10.3 2.8 14.8 0l15.2-9.5 15.2 9.5c4.5 2.8 10.3 2.8 14.8 0l15.3-9.5 15.3 9.5c4.5 2.8 10.3 2.8 14.8 0l15.2-9.5 15.3 9.5c4.5 2.8 10.3 2.8 14.8 0l15.3-9.5 15.3 9.5c4.5 2.8 10.3 2.8 14.8 0l15.3-9.5 10.4 6.4 5.3 25.5L253.7 371.2 253.7 371.2z')
              path(d='M127.5 173.9c-0.1 0-0.1 0-0.2 0 -17.3 0.1-35.3 8.3-49.4 22.6 -24.9 25.2-29.3 61.5-9.7 81 8 8 18.8 12.2 31.1 12.2 0.1 0 0.1 0 0.2 0 17.3-0.1 35.3-8.3 49.4-22.6 24.9-25.2 29.3-61.5 9.7-81C150.6 178.1 139.9 173.9 127.5 173.9zM92.9 211.3c10.1-10.2 22.9-16.3 34.5-16.3 0 0 0.1 0 0.1 0 2.3 0 5.1 0.3 7.9 1.1 -1.1 5.3-4.9 14.7-17.3 22.5 -4.9 3.1-9.2 5.4-12.9 7.5 -12.5 6.9-20.7 12.1-27.7 24.9C75.4 239.1 80.9 223.4 92.9 211.3zM133.9 252.2c-10.1 10.2-22.9 16.3-34.5 16.3 -2 0-4.3-0.2-6.6-0.8 5.4-13.7 10.5-16.5 22.5-23.2 4-2.2 8.6-4.8 13.9-8.1 10-6.3 16.4-13.5 20.5-20.3C150.2 227.5 144.7 241.3 133.9 252.2z')
              path(d='M225.9 379.1h-3.5c-5.8 0-10.5 4.7-10.5 10.5s4.7 10.5 10.5 10.5h3.5c5.8 0 10.5-4.7 10.5-10.5S231.7 379.1 225.9 379.1z')
              path(d='M79.6 379.1h-7.5c-5.8 0-10.5 4.7-10.5 10.5s4.7 10.5 10.5 10.5h7.5c5.8 0 10.5-4.7 10.5-10.5S85.4 379.1 79.6 379.1z')
              path(d='M42 379.1h-7.5c-5.8 0-10.5 4.7-10.5 10.5s4.7 10.5 10.5 10.5h7.5c5.8 0 10.5-4.7 10.5-10.5S47.8 379.1 42 379.1z')
              path(d='M192.3 379.1h-7.5c-5.8 0-10.5 4.7-10.5 10.5s4.7 10.5 10.5 10.5h7.5c5.8 0 10.5-4.7 10.5-10.5S198.1 379.1 192.3 379.1z')
              path(d='M117.2 379.1h-7.5c-5.8 0-10.5 4.7-10.5 10.5s4.7 10.5 10.5 10.5h7.5c5.8 0 10.5-4.7 10.5-10.5S123 379.1 117.2 379.1z')
              path(d='M154.7 379.1h-7.5c-5.8 0-10.5 4.7-10.5 10.5s4.7 10.5 10.5 10.5h7.5c5.8 0 10.5-4.7 10.5-10.5S160.5 379.1 154.7 379.1z')
              path(d='M4.5 379.1H0.9c-5.8 0-10.5 4.7-10.5 10.5s4.7 10.5 10.5 10.5h3.5c5.8 0 10.5-4.7 10.5-10.5S10.3 379.1 4.5 379.1z')
            span.form__span 1kg


      fieldset.form__fieldset
        legend.form__legend.u-mart-sm 4. Delivery Interval
        p.paragraph.paragraph--inverted.u-marbo-sm How often would you like to recieve your fresh coffee

        p.form__answer
          input(type="radio" name="interval" id="days_7" class="form__radio--hidden" value=7 checked)
          label(for="days_7" class="form__checkbox-label")
            svg(viewbox='0 0 384.000000 403.000000' xmlns='http://www.w3.org/2000/svg' class="svg--grind" preserveAspectRatio="xMidYMid meet")
              title 7 Days                  
              g(transform='translate(0.000000,403.000000) scale(0.100000,-0.100000)', fill='#0e1e33', stroke='none')
                path(d='M531 4007 c-37 -19 -65 -63 -65 -102 l0 -35 -66 0 c-84 0 -174 -16\
                -221 -41 -51 -26 -119 -97 -149 -155 l-25 -49 0 -1680 0 -1680 29 -58 c36 -70\
                89 -120 165 -156 l56 -26 1435 -3 1435 -2 358 357 357 357 0 1426 c0 1012 -3\
                1437 -11 1465 -18 65 -75 140 -137 182 -66 43 -142 62 -250 63 -68 0 -73 1\
                -67 19 7 24 -15 80 -42 104 -69 61 -185 5 -185 -88 l0 -35 -225 0 c-217 0\
                -224 1 -218 19 8 25 -16 80 -45 106 -15 14 -36 20 -70 20 -34 0 -55 -6 -70\
                -20 -29 -26 -53 -81 -45 -106 6 -18 -1 -19 -220 -19 l-227 0 5 22 c7 26 -13\
                77 -41 101 -26 24 -90 32 -121 15 -37 -20 -63 -62 -63 -102 l0 -36 -222 0\
                -221 0 -1 41 c-3 84 -100 135 -172 89 -37 -23 -66 -81 -57 -111 6 -18 -1 -19\
                -218 -19 l-225 0 0 41 c-1 79 -90 133 -161 96z m3131 -814 c2 -120 4 -704 6\
                -1298 l3 -1081 -23 -21 c-21 -20 -36 -22 -203 -25 -195 -3 -216 -8 -278 -67\
                -63 -57 -71 -89 -75 -281 -3 -161 -5 -177 -25 -198 l-20 -22 -1367 0 -1366 0\
                -44 23 c-24 12 -53 35 -64 50 -21 28 -21 32 -24 1583 l-2 1554 1740 0 1739 0\
                3 -217z')
                path(d='M1530 2501 c-19 -13 -27 -140 -11 -170 11 -21 17 -21 247 -21 185 0\
                235 -3 231 -12 -3 -7 -87 -193 -187 -413 -214 -470 -207 -454 -189 -466 8 -5\
                60 -9 116 -9 95 0 104 2 117 23 8 12 99 218 202 457 l188 435 0 77 c1 50 -3\
                81 -12 90 -16 16 -678 24 -702 9z')
            span.form__span 7 Days

        p.form__answer
          input(type="radio" name="interval" id="days_14" class="form__radio--hidden" value=14 )
          label(for="days_14" class="form__checkbox-label")
            svg(viewbox='0 0 384.000000 403.000000' xmlns='http://www.w3.org/2000/svg' class="svg--grind" preserveAspectRatio="xMidYMid meet")
              title 14 Days                  
              g(transform='translate(0.000000,403.000000) scale(0.100000,-0.100000)', fill='#0e1e33', stroke='none')
                path(d='M531 4007 c-37 -19 -65 -63 -65 -102 l0 -35 -66 0 c-84 0 -174 -16\
                -221 -41 -51 -26 -119 -97 -149 -155 l-25 -49 0 -1680 0 -1680 29 -58 c36 -70\
                89 -120 165 -156 l56 -26 1435 -3 1435 -2 357 357 358 358 0 1425 c0 1012 -3\
                1437 -11 1465 -18 65 -75 140 -137 182 -66 43 -142 62 -250 63 -68 0 -73 1\
                -67 19 7 24 -15 80 -42 104 -69 61 -185 5 -185 -88 l0 -35 -225 0 c-217 0\
                -224 1 -218 19 8 25 -16 80 -45 106 -15 14 -36 20 -70 20 -34 0 -55 -6 -70\
                -20 -29 -26 -53 -81 -45 -106 6 -18 -1 -19 -220 -19 l-227 0 5 22 c7 26 -13\
                77 -41 101 -26 24 -90 32 -121 15 -37 -20 -63 -62 -63 -102 l0 -36 -222 0\
                -221 0 -1 41 c-3 84 -100 135 -172 89 -37 -23 -66 -81 -57 -111 6 -18 -1 -19\
                -218 -19 l-225 0 0 41 c-1 79 -90 133 -161 96z m3129 -1894 l0 -1297 -22 -23\
                c-21 -22 -27 -23 -182 -23 -89 0 -177 -5 -197 -10 -47 -13 -114 -72 -142 -124\
                -19 -37 -22 -60 -25 -216 -3 -161 -5 -177 -25 -198 l-20 -22 -1367 0 -1366 0\
                -44 23 c-24 12 -53 35 -64 50 -21 28 -21 32 -24 1583 l-2 1554 1740 0 1740 0\
                0 -1297z')
                path(d='M1254 2404 c-162 -105 -154 -96 -154 -171 0 -88 11 -90 132 -25 l98\
                52 0 -355 0 -355 -103 0 c-67 0 -107 -4 -115 -12 -16 -16 -16 -130 0 -146 9\
                -9 95 -12 325 -12 l313 0 10 26 c13 33 13 100 0 125 -9 17 -22 19 -105 19\
                l-95 0 0 449 c0 247 -3 456 -6 465 -5 13 -23 16 -94 16 l-87 0 -119 -76z')
                path(d='M2278 2469 c-21 -8 -61 -70 -200 -316 -95 -169 -178 -320 -185 -337\
                -16 -42 -16 -168 0 -189 10 -15 39 -17 232 -19 l220 -3 3 -105 c2 -68 7 -107\
                15 -112 14 -9 158 -11 181 -2 13 5 16 25 16 115 l0 109 55 0 c64 0 75 13 75\
                85 0 64 -13 85 -53 85 -18 0 -42 3 -54 6 l-23 6 0 333 0 333 -31 11 c-39 13\
                -214 13 -251 0z m72 -434 l0 -245 -144 0 -145 0 140 245 c77 135 142 245 145\
                245 2 0 4 -110 4 -245z')
            span.form__span 14 Days


        p.form__answer
          input(type="radio" name="interval" id="days_21" class="form__radio--hidden" value=21 )
          label(for="days_21" class="form__checkbox-label")
            svg(viewbox='0 0 384.000000 403.000000' xmlns='http://www.w3.org/2000/svg' class="svg--grind" preserveAspectRatio="xMidYMid meet")
              title 21 Days                  
              g(transform='translate(0.000000,403.000000) scale(0.100000,-0.100000)', fill='#000000', stroke='none')
                path(d='M531 4007 c-37 -19 -65 -63 -65 -102 l0 -35 -66 0 c-84 0 -174 -16\
                -221 -41 -51 -26 -119 -97 -149 -155 l-25 -49 0 -1680 0 -1680 29 -58 c36 -70\
                89 -120 165 -156 l56 -26 1440 -3 1440 -2 352 352 353 353 0 1430 c0 1016 -3\
                1442 -11 1470 -18 65 -75 140 -137 182 -66 43 -142 62 -250 63 -68 0 -73 1\
                -67 19 7 24 -15 80 -42 104 -69 61 -185 5 -185 -88 l0 -35 -225 0 c-217 0\
                -224 1 -218 19 8 25 -16 80 -45 106 -15 14 -36 20 -70 20 -34 0 -55 -6 -70\
                -20 -29 -26 -53 -81 -45 -106 6 -18 -1 -19 -220 -19 l-227 0 5 22 c7 26 -13\
                77 -41 101 -26 24 -90 32 -121 15 -37 -20 -63 -62 -63 -102 l0 -36 -222 0\
                -221 0 -1 41 c-3 84 -100 135 -172 89 -37 -23 -66 -81 -57 -111 6 -18 -1 -19\
                -218 -19 l-225 0 0 41 c-1 79 -90 133 -161 96z m3132 -914 c4 -174 7 -757 7\
                -1296 l0 -981 -22 -23 c-21 -22 -27 -23 -182 -23 -89 0 -177 -5 -197 -10 -47\
                -13 -114 -72 -142 -124 -19 -37 -22 -60 -25 -216 -3 -161 -5 -177 -25 -198\
                l-20 -22 -1372 0 -1371 0 -44 23 c-24 12 -53 35 -64 50 -21 28 -21 32 -24\
                1583 l-2 1554 1738 0 1739 0 6 -317z')
                path(d='M1293 2396 c-142 -46 -161 -70 -154 -196 3 -67 12 -69 93 -26 61 34\
                83 40 147 44 67 4 79 1 104 -18 69 -55 74 -142 13 -266 -27 -53 -68 -106 -158\
                -204 -215 -233 -210 -226 -222 -300 -7 -40 7 -100 26 -112 7 -4 165 -8 351 -8\
                l337 0 10 26 c13 32 13 95 0 128 l-9 26 -221 2 -221 3 136 145 c219 232 275\
                331 275 489 0 76 -4 95 -27 142 -33 64 -92 112 -165 134 -80 23 -227 19 -315\
                -9z')
                path(d='M2204 2334 c-65 -42 -127 -83 -136 -91 -22 -20 -31 -64 -23 -113 9\
                -53 25 -52 141 11 l94 50 0 -355 0 -356 -109 0 c-124 0 -121 3 -121 -90 0 -36\
                5 -62 14 -69 9 -8 104 -11 327 -9 l314 3 9 43 c6 26 6 58 0 80 l-9 37 -97 3\
                -98 3 0 452 c0 339 -3 456 -12 465 -7 7 -43 12 -93 12 l-82 0 -119 -76z')
            span.form__span 21 Days


        p.form__answer
          input(type="radio" name="interval" id="days_28" class="form__radio--hidden" value=28 )
          label(for="days_28" class="form__checkbox-label")
            svg(viewbox='0 0 384.000000 403.000000' xmlns='http://www.w3.org/2000/svg' class="svg--grind" preserveAspectRatio="xMidYMid meet")
              title 28 Days                  
              g(transform='translate(0.000000,403.000000) scale(0.100000,-0.100000)', fill='#000000', stroke='none')
                path(d='M531 4007 c-37 -19 -65 -63 -65 -102 l0 -35 -66 0 c-84 0 -174 -16\
                -221 -41 -51 -26 -119 -97 -149 -155 l-25 -49 0 -1680 0 -1680 29 -58 c36 -70\
                89 -120 165 -156 l56 -26 1435 -3 1435 -2 358 357 357 357 0 1426 c0 1012 -3\
                1437 -11 1465 -18 65 -75 140 -137 182 -66 43 -142 62 -250 63 -68 0 -73 1\
                -67 19 7 24 -15 80 -42 104 -69 61 -185 5 -185 -88 l0 -35 -225 0 c-217 0\
                -224 1 -218 19 8 25 -16 80 -45 106 -15 14 -36 20 -70 20 -34 0 -55 -6 -70\
                -20 -29 -26 -53 -81 -45 -106 6 -18 -1 -19 -220 -19 l-227 0 5 22 c7 26 -13\
                77 -41 101 -26 24 -90 32 -121 15 -37 -20 -63 -62 -63 -102 l0 -36 -222 0\
                -221 0 -1 41 c-3 84 -100 135 -172 89 -37 -23 -66 -81 -57 -111 6 -18 -1 -19\
                -218 -19 l-225 0 0 41 c-1 79 -90 133 -161 96z m3129 -809 c0 -117 0 -701 0\
                -1297 l0 -1085 -22 -23 c-21 -22 -27 -23 -182 -23 -89 0 -177 -5 -197 -10 -47\
                -13 -114 -72 -142 -124 -19 -37 -22 -60 -25 -216 -3 -161 -5 -177 -25 -198\
                l-20 -22 -1367 0 -1366 0 -44 23 c-24 12 -53 35 -64 50 -21 28 -21 32 -24\
                1583 l-2 1554 1740 0 1740 0 0 -212z')
                path(d='M1253 2416 c-142 -46 -161 -70 -154 -196 3 -67 12 -69 93 -26 61 34\
                83 40 147 44 67 4 79 1 104 -18 69 -55 74 -142 13 -266 -27 -53 -68 -106 -158\
                -204 -215 -233 -210 -226 -222 -300 -7 -40 7 -100 26 -112 7 -4 165 -8 351 -8\
                l337 0 10 26 c13 32 13 95 0 128 l-9 26 -221 2 -221 3 136 145 c219 232 275\
                331 275 489 0 76 -4 95 -27 142 -33 64 -92 112 -165 134 -80 23 -227 19 -315\
                -9z')
                path(d='M2195 2434 c-54 -14 -124 -56 -162 -97 -74 -80 -93 -210 -44 -306 19\
                -36 82 -101 130 -132 l25 -16 -61 -41 c-134 -91 -179 -202 -137 -341 42 -142\
                237 -220 460 -182 187 32 284 134 284 300 -1 108 -46 183 -152 252 l-58 37 50\
                37 c86 63 130 145 130 242 0 99 -48 176 -137 219 -53 25 -70 28 -183 30 -69 2\
                -134 1 -145 -2z m195 -172 c25 -12 39 -28 49 -57 22 -64 8 -109 -50 -166 -28\
                -27 -57 -49 -65 -49 -26 0 -113 61 -134 94 -40 66 -18 161 44 186 36 15 119\
                11 156 -8z m-22 -502 c73 -47 102 -89 102 -148 0 -91 -48 -132 -155 -133 -78\
                -1 -102 6 -137 39 -25 23 -28 33 -28 93 0 59 3 72 27 100 25 29 108 89 123 89\
                4 0 35 -18 68 -40z')
            span.form__span 28 Days

      
      p.admin-action.admin-action--large.u-center.u-mart-sm $4.20
      p.product__reviews__number.u-center.u-marbo-md You'll have a chance to review your subscription on the next page
      button(type="submit" class="btn btn__submit") Subscribe Now