.btn {
  // Font
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-text-white;
  background-color: transparent;

  // Buttonify
  padding: 0.8rem 1.1rem 0.8rem 1.1rem;
  border-bottom: 5px solid $color-text-white;

  &--inverted {
    color: $color-blue-dark;
    border-bottom: 5px solid $color-blue-dark;
  }
}

.btn__storecard {
  border-bottom: none;

  &--info {
    background-color: $color-blue-light;
    flex: 60%;
  }

  &--buy {
    background-color: $color-gold;
    flex: 40%;
  }
}

.btn__submit {
  background-color: $color-blue-light;
  color: $color-gold;
  border: 2px solid $color-blue-dark;
  outline: none;
  width: 100%;
  text-decoration: none;
  transition: all 0.2s;

  &--auto {
    width: auto;
  }

  &:hover {
    background-color: rgba($color-blue-dark, 1);
  }

  &:active {
    transform: translate(1px, 1px);
  }
}

.btn--stock {
  font-family: inherit; 
  font-size: 100%; 
  line-height: 1.15; 
  margin: 0; 
  overflow: visible;
  text-transform: none;
  border: 0;
  padding: .3rem;
  background-color: transparent;
  cursor: pointer;
  display: inline;
}
