.coffee {
  &__header {
    height: 15rem;
  }

  &__photos {
    flex: 50%;
    margin-top: 1rem;
  }

  &__options {
    flex: 50%;
    // height: 400px;
  }

  &__price {
    display: inline;
    margin: 1rem 0 0 1.5rem;
  }

  &__addtocart {
    width: 13rem;
    margin-left: 1.5rem;
  }

  &__long-description {
    flex-basis: 60%;
    max-width: 800px;
    margin-right: auto;
  }

  &__bulletpoints {
    flex-basis: 28%;
  }

  // Table stuff below

  &__table {
    border-collapse: collapse;
    margin-bottom: 1rem;
  }

  &__key,
  &__value {
    padding: 1rem 0 0.8rem 0;
    border-bottom: 1px solid $color-gold;
  }

  &__key {
    width: 30%;
    margin-right: 1rem;
  }
}
