.coffee {
  &__header {
    height: 20rem;
  }

  &__photos {
    flex: 50%;
  }

  &__options {
    flex: 50%;
    // height: 400px;
  }

  &__price {
    display: inline;
    margin: 1rem 0 0 1.5rem;
  }
}
