.container {
  display: flex;
  flex: 0 0 100%;
  flex-wrap: wrap;
  max-width: 120rem;
  justify-content: center;
  margin: 0 auto;

  &--columns {
    flex: auto;
    flex-wrap: nowrap;
  }
}

.inner {
  margin: 1rem;
}
