.form {
  display: flex;
  flex-direction: column;
  max-width: 110rem;

  
  &__label {
    margin-top: 2rem;
  }
  
  &__input,
  &__textarea,
  &__dropdown {
    background-color: $color-bg;
    border: 2px solid $color-blue-dark;
    padding: 1rem 2rem;
    border-radius: 5px;
    transition: all .3s;

    &:focus {
      border: 2px solid $color-gold;
    }
  }


}