.newsletter {
  &__cta {
    display: flex;
    justify-content: center;
    flex-basis: 45rem;
    flex-direction: column;
    margin-right: auto;
  }

  &__form {
    display: flex;
    flex-basis: 35rem;
    align-items: flex-end;
    justify-content: center;
    margin-left: auto;
    flex-direction: column;
  }

  &__email,
  &__name {
    width: 100%;
    background-color: rgba($color-blue-dark, 0.4);
    border: 2px solid $color-gold;
    border-radius: 5px;
    padding: 1rem 2rem;
    font-family: inherit;
    color: $color-gold;
    font-size: 2rem;
    transition: all 0.2s;
    margin-bottom: 1rem;

    &:focus {
      background-color: rgba($color-blue-dark, 0.4);
      box-shadow: 0 2rem 3rem rgba($color-gold, 0.2);
    }
  }
}
