.product {
  margin: 5rem $gutter 0 $gutter;
  height: 41rem;
  width: 30rem;
  border-radius: 3px;
  background-color: $color-bg-light;
  box-shadow: 0 2rem 3rem rgba($color-black, 0.3);

  &__photo {
    height: 23rem;
    width: 100%;
    background-image: url("/images/beans-placeholder.jpg");
    background-size: cover;
    background-position: 50% 50%;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.3);
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    height: 17rem;
  }

  &__reviews {
    flex: 0 0 70%;

    &__stars {
      font-size: 1.6rem;
      letter-spacing: -2px;
      color: $color-gold;
      margin-right: 0.5rem;

      &--off {
        color: gray;
      }
    }

    &__number {
      font-size: 1rem;
      color: gray;
    }
  }

  // Product title/description/price styles in the typography file.
}
