.u-mart-sm {
  margin-top: 2rem;
}
.u-mart-md {
  margin-top: 4rem;
}
.u-mart-lg {
  margin-top: 6rem;
}

.u-marbo-sm {
  margin-bottom: 2rem;
}
.u-marbo-md {
  margin-bottom: 4rem;
}
.u-marbo-lg {
  margin-bottom: 6rem;
}

.u-paddl-sm {
  padding-left: 1rem;
}

.u-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.u-bold {
  font-weight: 700;
}

.hidden {
  display: none !important;
}

.u-block {
  display: block;
}