// ================
// Colours
// ================

$color-text-white: #f3efef;
$color-text-new: #d6aa6d;
$color-text-new-2: #ffe3bc;

$color-blue-dark: #0e1e33;
$color-blue-light: #17283b;
$color-blue-lighter: #293849;
$color-bg: #f2e3cf;
$color-bg-light: #fffaf4;
$color-gold: #b38e57;
$color-black: #161921;

// ================
// Layout
// ================

$gutter: 3.5rem;

// ================
// Coffee Colour coding
// ================
$microlot: 2px solid $color-gold;
$single-origin: 2px solid $color-blue-light;
$blend: 2px solid $color-blue-dark;
$decaf: 2px solid $color-black;
